@charset "UTF-8";

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("fonts/HelveticaNeueCyr-Thin.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyrLight";
  src: url("fonts/HelveticaNeueCyr-Light.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("fonts/HelveticaNeueCyr-Roman.woff") format('woff');
  font-weight: normal;
}
