@charset "UTF-8";

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("fonts/HelveticaNeueCyr-Thin.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyrLight";
  src: url("fonts/HelveticaNeueCyr-Light.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("fonts/HelveticaNeueCyr-Roman.woff") format('woff');
  font-weight: normal;
}

/*All browser reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*Enforce inheritance of box-sizing to inherit it from plugins*/
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem = 10px; 10px / 16px = 62.5% */ }

body {
  /*Borders and padding not added to box width/height*/
  box-sizing: border-box; }

header {
  font-weight: 400;
  line-height: 1.7;
  color: white; }

body {
  font-weight: 400;
  line-height: 1.7; }

.heading-secondary {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #2f3441;
  margin-bottom: 1.8rem; }

.paragraph {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 18px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #2f3441; }

.navigation-header {
  width: 100%;
  background-size: cover;
  height: 8rem;
  background-color: #0a2896; }

.navigation-inline {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem; }

.navigation-inline__item {
  text-decoration: none;
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.4px;
  color: #616161;
  white-space: nowrap;
  padding-bottom: 1rem;
  margin-left: 3rem; }

.navigation-inline__item--active {
  border-bottom: #00aaff solid 3px; }

.container {
  max-width: 112rem;
  margin: 1rem auto; }

.section-description {
  display: flex;
  flex-direction: column;
  margin: 9rem 0; }

.section-capabilities {
  display: flex;
  flex-direction: column;
  margin: 9rem 0; }

.section-options {
  display: flex;
  flex-direction: column;
  align-items: center; }

.description {
  display: flex; }

.description__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8rem;
  max-height: 48rem; }

.description__container h2 {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 4.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.4px;
  color: #2f3441; }

.description__text {
  width: 57rem;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: 0.4px;
  color: #2f3441;
  margin-top: 1.8rem; }

.description__card {
  width: 48rem;
  height: 30rem;
  border-radius: 16px;
  background-color: #c4c4c4; }

.description__actions {
  display: flex;
  align-content: center; }
  .description__actions > * {
    margin-right: .5rem; }

.description__features {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem; }

.description__feature-name {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: 0.4px;
  color: #2f3441; }

.description__feature-text {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.91;
  letter-spacing: 0.4px;
  color: #2f3441; }

.btn {
  display: flex;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-decoration: none; }

.btn--red {
  color: #ffffff;
  background-color: #ed1c24;
  padding: 2rem 2.2rem; }

.btn--transparent {
  background-color: #ffffff;
  color: #6b7683;
  margin: 2rem 2.2rem; }

.btn__logo-box {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 1rem; }

.btn__icon {
  width: 100%;
  height: 100%; }

.capability__logo-box {
  width: 1.8rem;
  height: 1.8rem; }

.capability__icon {
  height: 100%;
  width: 100%; }

.capability {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem; }

.capability__logo-box {
  width: 1.8rem;
  height: 1.8rem; }

.capability__icon {
  height: 100%;
  width: 100%; }

.capability__description {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: 0.4px;
  color: #2f3441;
  margin-left: 3.5rem; }

.options__description {
  max-width: 50rem;
  margin-bottom: 6.4rem; }

.options__container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  min-height: 78rem; }

.option {
  display: flex;
  flex-direction: column;
  width: 34rem;
  height: 34rem;
  background-color: #c4c4c4;
  padding: 2.8rem 5.4rem 5rem 5.4rem; }

.option__title {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.39;
  letter-spacing: 0.4px;
  color: #2f3441;
  margin-bottom: auto; }

.option__value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: HelveticaNeueCyr-Roman, sans-serif;
  font-size: 4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: 0.4px;
  color: #2f3441; }

.option__chevron {
  width: 2rem;
  height: 4rem;
  cursor: pointer; }

.option__text {
  margin-top: 1rem;
  height: 4rem; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNvbmNhdC5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsZ0JBQWdCOztBQUVoQjtFQUNFLCtCQUErQjtFQUMvQiwyREFBMkQ7RUFDM0QsbUJBQW1CO0FBQ3JCOztBQUVBO0VBQ0Usb0NBQW9DO0VBQ3BDLDREQUE0RDtFQUM1RCxtQkFBbUI7QUFDckI7O0FBRUE7RUFDRSxxQ0FBcUM7RUFDckMsNERBQTREO0VBQzVELG1CQUFtQjtBQUNyQjs7QUFFQSxvQkFBb0I7QUFDcEI7OztFQUdFLFNBQVM7RUFDVCxVQUFVO0VBQ1YsK0RBQStEO0VBQy9ELG1CQUFtQixFQUFFOztBQUV2QjtFQUNFLGdCQUFnQjtFQUNoQixxQ0FBcUMsRUFBRTs7QUFFekM7RUFDRSxvREFBb0Q7RUFDcEQsc0JBQXNCLEVBQUU7O0FBRTFCO0VBQ0UsZ0JBQWdCO0VBQ2hCLGdCQUFnQjtFQUNoQixZQUFZLEVBQUU7O0FBRWhCO0VBQ0UsZ0JBQWdCO0VBQ2hCLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLDhDQUE4QztFQUM5QyxpQkFBaUI7RUFDakIsZ0JBQWdCO0VBQ2hCLG9CQUFvQjtFQUNwQixrQkFBa0I7RUFDbEIsZ0JBQWdCO0VBQ2hCLHFCQUFxQjtFQUNyQixjQUFjO0VBQ2QscUJBQXFCLEVBQUU7O0FBRXpCO0VBQ0UseUNBQXlDO0VBQ3pDLGVBQWU7RUFDZixnQkFBZ0I7RUFDaEIsb0JBQW9CO0VBQ3BCLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIscUJBQXFCO0VBQ3JCLGNBQWMsRUFBRTs7QUFFbEI7RUFDRSxXQUFXO0VBQ1gsc0JBQXNCO0VBQ3RCLFlBQVk7RUFDWix5QkFBeUIsRUFBRTs7QUFFN0I7RUFDRSxhQUFhO0VBQ2IseUJBQXlCO0VBQ3pCLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLHFCQUFxQjtFQUNyQiw4Q0FBOEM7RUFDOUMsaUJBQWlCO0VBQ2pCLGdCQUFnQjtFQUNoQixvQkFBb0I7RUFDcEIsa0JBQWtCO0VBQ2xCLGNBQWM7RUFDZCxxQkFBcUI7RUFDckIsY0FBYztFQUNkLG1CQUFtQjtFQUNuQixvQkFBb0I7RUFDcEIsaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0UsZ0NBQWdDLEVBQUU7O0FBRXBDO0VBQ0UsaUJBQWlCO0VBQ2pCLGlCQUFpQixFQUFFOztBQUVyQjtFQUNFLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsY0FBYyxFQUFFOztBQUVsQjtFQUNFLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsY0FBYyxFQUFFOztBQUVsQjtFQUNFLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsYUFBYSxFQUFFOztBQUVqQjtFQUNFLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsOEJBQThCO0VBQzlCLGlCQUFpQjtFQUNqQixpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSw4Q0FBOEM7RUFDOUMsaUJBQWlCO0VBQ2pCLGdCQUFnQjtFQUNoQixvQkFBb0I7RUFDcEIsa0JBQWtCO0VBQ2xCLGlCQUFpQjtFQUNqQixxQkFBcUI7RUFDckIsY0FBYyxFQUFFOztBQUVsQjtFQUNFLFlBQVk7RUFDWix5Q0FBeUM7RUFDekMsaUJBQWlCO0VBQ2pCLGdCQUFnQjtFQUNoQixvQkFBb0I7RUFDcEIsa0JBQWtCO0VBQ2xCLGlCQUFpQjtFQUNqQixxQkFBcUI7RUFDckIsY0FBYztFQUNkLGtCQUFrQixFQUFFOztBQUV0QjtFQUNFLFlBQVk7RUFDWixhQUFhO0VBQ2IsbUJBQW1CO0VBQ25CLHlCQUF5QixFQUFFOztBQUU3QjtFQUNFLGFBQWE7RUFDYixxQkFBcUIsRUFBRTtFQUN2QjtJQUNFLG1CQUFtQixFQUFFOztBQUV6QjtFQUNFLGFBQWE7RUFDYiw2QkFBNkI7RUFDN0IsZ0JBQWdCLEVBQUU7O0FBRXBCO0VBQ0UseUNBQXlDO0VBQ3pDLGlCQUFpQjtFQUNqQixnQkFBZ0I7RUFDaEIsb0JBQW9CO0VBQ3BCLGtCQUFrQjtFQUNsQixpQkFBaUI7RUFDakIscUJBQXFCO0VBQ3JCLGNBQWMsRUFBRTs7QUFFbEI7RUFDRSw4Q0FBOEM7RUFDOUMsaUJBQWlCO0VBQ2pCLGdCQUFnQjtFQUNoQixvQkFBb0I7RUFDcEIsa0JBQWtCO0VBQ2xCLGlCQUFpQjtFQUNqQixxQkFBcUI7RUFDckIsY0FBYyxFQUFFOztBQUVsQjtFQUNFLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsOEJBQThCO0VBQzlCLGVBQWU7RUFDZixtQkFBbUI7RUFDbkIsb0JBQW9CO0VBQ3BCLGtCQUFrQjtFQUNsQixpQkFBaUI7RUFDakIscUJBQXFCO0VBQ3JCLHFCQUFxQixFQUFFOztBQUV6QjtFQUNFLGNBQWM7RUFDZCx5QkFBeUI7RUFDekIsb0JBQW9CLEVBQUU7O0FBRXhCO0VBQ0UseUJBQXlCO0VBQ3pCLGNBQWM7RUFDZCxtQkFBbUIsRUFBRTs7QUFFdkI7RUFDRSxhQUFhO0VBQ2IsY0FBYztFQUNkLGtCQUFrQixFQUFFOztBQUV0QjtFQUNFLFdBQVc7RUFDWCxZQUFZLEVBQUU7O0FBRWhCO0VBQ0UsYUFBYTtFQUNiLGNBQWMsRUFBRTs7QUFFbEI7RUFDRSxZQUFZO0VBQ1osV0FBVyxFQUFFOztBQUVmO0VBQ0UsYUFBYTtFQUNiLG1CQUFtQjtFQUNuQixxQkFBcUIsRUFBRTs7QUFFekI7RUFDRSxhQUFhO0VBQ2IsY0FBYyxFQUFFOztBQUVsQjtFQUNFLFlBQVk7RUFDWixXQUFXLEVBQUU7O0FBRWY7RUFDRSx5Q0FBeUM7RUFDekMsaUJBQWlCO0VBQ2pCLGdCQUFnQjtFQUNoQixvQkFBb0I7RUFDcEIsa0JBQWtCO0VBQ2xCLGlCQUFpQjtFQUNqQixxQkFBcUI7RUFDckIsY0FBYztFQUNkLG1CQUFtQixFQUFFOztBQUV2QjtFQUNFLGdCQUFnQjtFQUNoQixxQkFBcUIsRUFBRTs7QUFFekI7RUFDRSxhQUFhO0VBQ2IsZUFBZTtFQUNmLDhCQUE4QjtFQUM5QixpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxhQUFhO0VBQ2Isc0JBQXNCO0VBQ3RCLFlBQVk7RUFDWixhQUFhO0VBQ2IseUJBQXlCO0VBQ3pCLGtDQUFrQyxFQUFFOztBQUV0QztFQUNFLDhDQUE4QztFQUM5QyxlQUFlO0VBQ2YsZ0JBQWdCO0VBQ2hCLG9CQUFvQjtFQUNwQixrQkFBa0I7RUFDbEIsaUJBQWlCO0VBQ2pCLHFCQUFxQjtFQUNyQixjQUFjO0VBQ2QsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsYUFBYTtFQUNiLDhCQUE4QjtFQUM5QixtQkFBbUI7RUFDbkIsK0NBQStDO0VBQy9DLGVBQWU7RUFDZixtQkFBbUI7RUFDbkIsb0JBQW9CO0VBQ3BCLGtCQUFrQjtFQUNsQixpQkFBaUI7RUFDakIscUJBQXFCO0VBQ3JCLGNBQWMsRUFBRTs7QUFFbEI7RUFDRSxXQUFXO0VBQ1gsWUFBWTtFQUNaLGVBQWUsRUFBRTs7QUFFbkI7RUFDRSxnQkFBZ0I7RUFDaEIsWUFBWSxFQUFFIiwiZmlsZSI6InN0eWxlLnByZWZpeC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAY2hhcnNldCBcIlVURi04XCI7XHJcblxyXG5AZm9udC1mYWNlIHtcclxuICBmb250LWZhbWlseTogXCJIZWx2ZXRpY2FOZXVlQ3lyXCI7XHJcbiAgc3JjOiB1cmwoXCJmb250cy9IZWx2ZXRpY2FOZXVlQ3lyLVRoaW4ud29mZlwiKSBmb3JtYXQoJ3dvZmYnKTtcclxuICBmb250LXdlaWdodDogbm9ybWFsO1xyXG59XHJcblxyXG5AZm9udC1mYWNlIHtcclxuICBmb250LWZhbWlseTogXCJIZWx2ZXRpY2FOZXVlQ3lyTGlnaHRcIjtcclxuICBzcmM6IHVybChcImZvbnRzL0hlbHZldGljYU5ldWVDeXItTGlnaHQud29mZlwiKSBmb3JtYXQoJ3dvZmYnKTtcclxuICBmb250LXdlaWdodDogbm9ybWFsO1xyXG59XHJcblxyXG5AZm9udC1mYWNlIHtcclxuICBmb250LWZhbWlseTogXCJIZWx2ZXRpY2FOZXVlQ3lyLVJvbWFuXCI7XHJcbiAgc3JjOiB1cmwoXCJmb250cy9IZWx2ZXRpY2FOZXVlQ3lyLVJvbWFuLndvZmZcIikgZm9ybWF0KCd3b2ZmJyk7XHJcbiAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcclxufVxyXG5cbi8qQWxsIGJyb3dzZXIgcmVzZXQqL1xuKixcbio6OmFmdGVyLFxuKjo6YmVmb3JlIHtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xuICAvKkVuZm9yY2UgaW5oZXJpdGFuY2Ugb2YgYm94LXNpemluZyB0byBpbmhlcml0IGl0IGZyb20gcGx1Z2lucyovXG4gIGJveC1zaXppbmc6IGluaGVyaXQ7IH1cblxuaHRtbCB7XG4gIGZvbnQtc2l6ZTogNjIuNSU7XG4gIC8qIDFyZW0gPSAxMHB4OyAxMHB4IC8gMTZweCA9IDYyLjUlICovIH1cblxuYm9keSB7XG4gIC8qQm9yZGVycyBhbmQgcGFkZGluZyBub3QgYWRkZWQgdG8gYm94IHdpZHRoL2hlaWdodCovXG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7IH1cblxuaGVhZGVyIHtcbiAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgbGluZS1oZWlnaHQ6IDEuNztcbiAgY29sb3I6IHdoaXRlOyB9XG5cbmJvZHkge1xuICBmb250LXdlaWdodDogNDAwO1xuICBsaW5lLWhlaWdodDogMS43OyB9XG5cbi5oZWFkaW5nLXNlY29uZGFyeSB7XG4gIGZvbnQtZmFtaWx5OiBIZWx2ZXRpY2FOZXVlQ3lyTGlnaHQsIHNhbnMtc2VyaWY7XG4gIGZvbnQtc2l6ZTogMy4ycmVtO1xuICBmb250LXdlaWdodDogMzAwO1xuICBmb250LXN0cmV0Y2g6IG5vcm1hbDtcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBsaW5lLWhlaWdodDogMS41O1xuICBsZXR0ZXItc3BhY2luZzogMC40cHg7XG4gIGNvbG9yOiAjMmYzNDQxO1xuICBtYXJnaW4tYm90dG9tOiAxLjhyZW07IH1cblxuLnBhcmFncmFwaCB7XG4gIGZvbnQtZmFtaWx5OiBIZWx2ZXRpY2FOZXVlQ3lyLCBzYW5zLXNlcmlmO1xuICBmb250LXNpemU6IDE4cHg7XG4gIGZvbnQtd2VpZ2h0OiAxMDA7XG4gIGZvbnQtc3RyZXRjaDogbm9ybWFsO1xuICBmb250LXN0eWxlOiBub3JtYWw7XG4gIGxpbmUtaGVpZ2h0OiAxLjU7XG4gIGxldHRlci1zcGFjaW5nOiAwLjRweDtcbiAgY29sb3I6ICMyZjM0NDE7IH1cblxuLm5hdmlnYXRpb24taGVhZGVyIHtcbiAgd2lkdGg6IDEwMCU7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIGhlaWdodDogOHJlbTtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzBhMjg5NjsgfVxuXG4ubmF2aWdhdGlvbi1pbmxpbmUge1xuICBkaXNwbGF5OiBmbGV4O1xuICBqdXN0aWZ5LWNvbnRlbnQ6IGZsZXgtZW5kO1xuICBtYXJnaW4tdG9wOiAzcmVtOyB9XG5cbi5uYXZpZ2F0aW9uLWlubGluZV9faXRlbSB7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgZm9udC1mYW1pbHk6IEhlbHZldGljYU5ldWVDeXJMaWdodCwgc2Fucy1zZXJpZjtcbiAgZm9udC1zaXplOiAyLjJyZW07XG4gIGZvbnQtd2VpZ2h0OiAzMDA7XG4gIGZvbnQtc3RyZXRjaDogbm9ybWFsO1xuICBmb250LXN0eWxlOiBub3JtYWw7XG4gIGxpbmUtaGVpZ2h0OiAxO1xuICBsZXR0ZXItc3BhY2luZzogMC40cHg7XG4gIGNvbG9yOiAjNjE2MTYxO1xuICB3aGl0ZS1zcGFjZTogbm93cmFwO1xuICBwYWRkaW5nLWJvdHRvbTogMXJlbTtcbiAgbWFyZ2luLWxlZnQ6IDNyZW07IH1cblxuLm5hdmlnYXRpb24taW5saW5lX19pdGVtLS1hY3RpdmUge1xuICBib3JkZXItYm90dG9tOiAjMDBhYWZmIHNvbGlkIDNweDsgfVxuXG4uY29udGFpbmVyIHtcbiAgbWF4LXdpZHRoOiAxMTJyZW07XG4gIG1hcmdpbjogMXJlbSBhdXRvOyB9XG5cbi5zZWN0aW9uLWRlc2NyaXB0aW9uIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgbWFyZ2luOiA5cmVtIDA7IH1cblxuLnNlY3Rpb24tY2FwYWJpbGl0aWVzIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgbWFyZ2luOiA5cmVtIDA7IH1cblxuLnNlY3Rpb24tb3B0aW9ucyB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7IH1cblxuLmRlc2NyaXB0aW9uIHtcbiAgZGlzcGxheTogZmxleDsgfVxuXG4uZGVzY3JpcHRpb25fX2NvbnRhaW5lciB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcbiAgbWFyZ2luLWxlZnQ6IDhyZW07XG4gIG1heC1oZWlnaHQ6IDQ4cmVtOyB9XG5cbi5kZXNjcmlwdGlvbl9fY29udGFpbmVyIGgyIHtcbiAgZm9udC1mYW1pbHk6IEhlbHZldGljYU5ldWVDeXJMaWdodCwgc2Fucy1zZXJpZjtcbiAgZm9udC1zaXplOiA0LjJyZW07XG4gIGZvbnQtd2VpZ2h0OiAzMDA7XG4gIGZvbnQtc3RyZXRjaDogbm9ybWFsO1xuICBmb250LXN0eWxlOiBub3JtYWw7XG4gIGxpbmUtaGVpZ2h0OiAxLjE0O1xuICBsZXR0ZXItc3BhY2luZzogMC40cHg7XG4gIGNvbG9yOiAjMmYzNDQxOyB9XG5cbi5kZXNjcmlwdGlvbl9fdGV4dCB7XG4gIHdpZHRoOiA1N3JlbTtcbiAgZm9udC1mYW1pbHk6IEhlbHZldGljYU5ldWVDeXIsIHNhbnMtc2VyaWY7XG4gIGZvbnQtc2l6ZTogMS44cmVtO1xuICBmb250LXdlaWdodDogMTAwO1xuICBmb250LXN0cmV0Y2g6IG5vcm1hbDtcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBsaW5lLWhlaWdodDogMi4zMztcbiAgbGV0dGVyLXNwYWNpbmc6IDAuNHB4O1xuICBjb2xvcjogIzJmMzQ0MTtcbiAgbWFyZ2luLXRvcDogMS44cmVtOyB9XG5cbi5kZXNjcmlwdGlvbl9fY2FyZCB7XG4gIHdpZHRoOiA0OHJlbTtcbiAgaGVpZ2h0OiAzMHJlbTtcbiAgYm9yZGVyLXJhZGl1czogMTZweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2M0YzRjNDsgfVxuXG4uZGVzY3JpcHRpb25fX2FjdGlvbnMge1xuICBkaXNwbGF5OiBmbGV4O1xuICBhbGlnbi1jb250ZW50OiBjZW50ZXI7IH1cbiAgLmRlc2NyaXB0aW9uX19hY3Rpb25zID4gKiB7XG4gICAgbWFyZ2luLXJpZ2h0OiAuNXJlbTsgfVxuXG4uZGVzY3JpcHRpb25fX2ZlYXR1cmVzIHtcbiAgZGlzcGxheTogZmxleDtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1hcm91bmQ7XG4gIG1hcmdpbi10b3A6IDZyZW07IH1cblxuLmRlc2NyaXB0aW9uX19mZWF0dXJlLW5hbWUge1xuICBmb250LWZhbWlseTogSGVsdmV0aWNhTmV1ZUN5ciwgc2Fucy1zZXJpZjtcbiAgZm9udC1zaXplOiAxLjhyZW07XG4gIGZvbnQtd2VpZ2h0OiAxMDA7XG4gIGZvbnQtc3RyZXRjaDogbm9ybWFsO1xuICBmb250LXN0eWxlOiBub3JtYWw7XG4gIGxpbmUtaGVpZ2h0OiAyLjMzO1xuICBsZXR0ZXItc3BhY2luZzogMC40cHg7XG4gIGNvbG9yOiAjMmYzNDQxOyB9XG5cbi5kZXNjcmlwdGlvbl9fZmVhdHVyZS10ZXh0IHtcbiAgZm9udC1mYW1pbHk6IEhlbHZldGljYU5ldWVDeXJMaWdodCwgc2Fucy1zZXJpZjtcbiAgZm9udC1zaXplOiAzLjJyZW07XG4gIGZvbnQtd2VpZ2h0OiAzMDA7XG4gIGZvbnQtc3RyZXRjaDogbm9ybWFsO1xuICBmb250LXN0eWxlOiBub3JtYWw7XG4gIGxpbmUtaGVpZ2h0OiAxLjkxO1xuICBsZXR0ZXItc3BhY2luZzogMC40cHg7XG4gIGNvbG9yOiAjMmYzNDQxOyB9XG5cbi5idG4ge1xuICBkaXNwbGF5OiBmbGV4O1xuICBib3JkZXItcmFkaXVzOiA0cHg7XG4gIGZvbnQtZmFtaWx5OiBBcmlhbCwgc2Fucy1zZXJpZjtcbiAgZm9udC1zaXplOiAxOHB4O1xuICBmb250LXdlaWdodDogbm9ybWFsO1xuICBmb250LXN0cmV0Y2g6IG5vcm1hbDtcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBsaW5lLWhlaWdodDogMS4zMztcbiAgbGV0dGVyLXNwYWNpbmc6IDAuNHB4O1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7IH1cblxuLmJ0bi0tcmVkIHtcbiAgY29sb3I6ICNmZmZmZmY7XG4gIGJhY2tncm91bmQtY29sb3I6ICNlZDFjMjQ7XG4gIHBhZGRpbmc6IDJyZW0gMi4ycmVtOyB9XG5cbi5idG4tLXRyYW5zcGFyZW50IHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2ZmZmZmZjtcbiAgY29sb3I6ICM2Yjc2ODM7XG4gIG1hcmdpbjogMnJlbSAyLjJyZW07IH1cblxuLmJ0bl9fbG9nby1ib3gge1xuICB3aWR0aDogMS40cmVtO1xuICBoZWlnaHQ6IDEuNHJlbTtcbiAgbWFyZ2luLXJpZ2h0OiAxcmVtOyB9XG5cbi5idG5fX2ljb24ge1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlOyB9XG5cbi5jYXBhYmlsaXR5X19sb2dvLWJveCB7XG4gIHdpZHRoOiAxLjhyZW07XG4gIGhlaWdodDogMS44cmVtOyB9XG5cbi5jYXBhYmlsaXR5X19pY29uIHtcbiAgaGVpZ2h0OiAxMDAlO1xuICB3aWR0aDogMTAwJTsgfVxuXG4uY2FwYWJpbGl0eSB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIG1hcmdpbi1ib3R0b206IDEuNnJlbTsgfVxuXG4uY2FwYWJpbGl0eV9fbG9nby1ib3gge1xuICB3aWR0aDogMS44cmVtO1xuICBoZWlnaHQ6IDEuOHJlbTsgfVxuXG4uY2FwYWJpbGl0eV9faWNvbiB7XG4gIGhlaWdodDogMTAwJTtcbiAgd2lkdGg6IDEwMCU7IH1cblxuLmNhcGFiaWxpdHlfX2Rlc2NyaXB0aW9uIHtcbiAgZm9udC1mYW1pbHk6IEhlbHZldGljYU5ldWVDeXIsIHNhbnMtc2VyaWY7XG4gIGZvbnQtc2l6ZTogMS44cmVtO1xuICBmb250LXdlaWdodDogMTAwO1xuICBmb250LXN0cmV0Y2g6IG5vcm1hbDtcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBsaW5lLWhlaWdodDogMi4zMztcbiAgbGV0dGVyLXNwYWNpbmc6IDAuNHB4O1xuICBjb2xvcjogIzJmMzQ0MTtcbiAgbWFyZ2luLWxlZnQ6IDMuNXJlbTsgfVxuXG4ub3B0aW9uc19fZGVzY3JpcHRpb24ge1xuICBtYXgtd2lkdGg6IDUwcmVtO1xuICBtYXJnaW4tYm90dG9tOiA2LjRyZW07IH1cblxuLm9wdGlvbnNfX2NvbnRhaW5lciB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZmxvdzogd3JhcDtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICBtaW4taGVpZ2h0OiA3OHJlbTsgfVxuXG4ub3B0aW9uIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgd2lkdGg6IDM0cmVtO1xuICBoZWlnaHQ6IDM0cmVtO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjYzRjNGM0O1xuICBwYWRkaW5nOiAyLjhyZW0gNS40cmVtIDVyZW0gNS40cmVtOyB9XG5cbi5vcHRpb25fX3RpdGxlIHtcbiAgZm9udC1mYW1pbHk6IEhlbHZldGljYU5ldWVDeXJMaWdodCwgc2Fucy1zZXJpZjtcbiAgZm9udC1zaXplOiAxOHB4O1xuICBmb250LXdlaWdodDogMzAwO1xuICBmb250LXN0cmV0Y2g6IG5vcm1hbDtcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBsaW5lLWhlaWdodDogMy4zOTtcbiAgbGV0dGVyLXNwYWNpbmc6IDAuNHB4O1xuICBjb2xvcjogIzJmMzQ0MTtcbiAgbWFyZ2luLWJvdHRvbTogYXV0bzsgfVxuXG4ub3B0aW9uX192YWx1ZSB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgZm9udC1mYW1pbHk6IEhlbHZldGljYU5ldWVDeXItUm9tYW4sIHNhbnMtc2VyaWY7XG4gIGZvbnQtc2l6ZTogNHJlbTtcbiAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcbiAgZm9udC1zdHJldGNoOiBub3JtYWw7XG4gIGZvbnQtc3R5bGU6IG5vcm1hbDtcbiAgbGluZS1oZWlnaHQ6IDEuNTM7XG4gIGxldHRlci1zcGFjaW5nOiAwLjRweDtcbiAgY29sb3I6ICMyZjM0NDE7IH1cblxuLm9wdGlvbl9fY2hldnJvbiB7XG4gIHdpZHRoOiAycmVtO1xuICBoZWlnaHQ6IDRyZW07XG4gIGN1cnNvcjogcG9pbnRlcjsgfVxuXG4ub3B0aW9uX190ZXh0IHtcbiAgbWFyZ2luLXRvcDogMXJlbTtcbiAgaGVpZ2h0OiA0cmVtOyB9XG4iXX0= */