/*
0 - 600px;    phone
600px - 900px;    tabled
900px - 1200px;   tablet landscape
1280px - 1800px;  desktop
1440px - 1800px; small desktop
1800px +;   big desktop

$breakpoint values:
- phone
- tab-port
- tab-land
- small-desktop
- big-desktop
*/
/*All browser reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*Enforce inheritance of box-sizing to inherit it from plugins*/
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem = 10px; 10px / 16px = 62.5% */ }

main {
  overflow-x: hidden; }

body {
  /*Borders and padding not added to box width/height*/
  box-sizing: border-box; }

header {
  font-weight: 400;
  line-height: 1.7;
  color: white; }

body {
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  font-family: HelveticaNeueCyr-Medium, sans-serif;
  font-size: 5.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: 0.4px;
  color: #ffffff; }
  @media only screen and (max-width: 64em) {
    .heading-primary {
      font-size: 3.4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 2.8rem; } }

.heading-secondary {
  font-family: HelveticaNeueCyr-Medium, sans-serif;
  font-size: 4.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.4px; }
  @media only screen and (max-width: 53em) {
    .heading-secondary {
      font-size: 3.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.4rem; } }

.heading-third {
  font-family: HelveticaNeueCyr-Medium, sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px; }
  @media only screen and (max-width: 64em) {
    .heading-third {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-third {
      font-size: 2rem;
      line-height: 1.8; } }

.heading-fourth {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.4px; }
  @media only screen and (max-width: 37.5em) {
    .heading-fourth {
      font-size: 1.8rem; } }

.menu-item {
  font-family: HelveticaNeueCyr-Medium, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px; }

.paragraph {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px; }
  @media only screen and (max-width: 64em) {
    .paragraph {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      font-size: 1.6rem; } }

.paragraph-secondary {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px; }
  @media only screen and (max-width: 64em) {
    .paragraph-secondary {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 37.5em) {
    .paragraph-secondary {
      font-size: 1.6rem; } }

.small-link {
  font-family: Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px; }

.paragraph-header {
  font-family: HelveticaNeueCyr-Roman, sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px; }

.notes {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.1px; }

.label-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal; }

.white-text {
  color: #ffffff; }

.dark-text {
  color: #2f3441; }

.grey-text {
  color: #616161; }

.blue-text {
  color: #1e4bd2; }

.grey-text-2 {
  color: #6b7683; }

.margin-section {
  margin: 9rem 0; }
  @media only screen and (max-width: 37.5em) {
    .margin-section {
      margin: 4.8rem 0; } }

.header-menu {
  display: flex;
  align-items: center;
  width: 112rem;
  margin: 0 auto;
  padding: 3rem 0; }
  @media only screen and (max-width: 64em) {
    .header-menu {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .header-menu {
      padding: 3rem 0;
      width: 100%;
      justify-content: space-between; } }
  .header-menu > * {
    margin-right: 4.8rem;
    cursor: pointer;
    text-decoration: none; }
    @media only screen and (max-width: 37.5em) {
      .header-menu > * {
        margin: 0 2.4rem; } }

.header__burger {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .header__burger {
      display: flex; } }

@media only screen and (max-width: 37.5em) {
  .header__menu-item {
    display: none; } }

.navigation-inline {
  display: flex;
  justify-content: flex-start; }
  .navigation-inline > * {
    margin-right: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .navigation-inline > * {
        margin-right: 0; } }
  @media only screen and (max-width: 37.5em) {
    .navigation-inline {
      width: 100%;
      justify-content: space-between; } }

.navigation-inline-head {
  display: flex;
  justify-content: flex-start; }
  @media only screen and (max-width: 37.5em) {
    .navigation-inline-head {
      justify-content: center; } }
  .navigation-inline-head > * {
    margin-right: 3rem; }

.navigation-inline__item {
  text-decoration: none;
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.4px;
  white-space: nowrap;
  padding-bottom: 1rem; }

@media only screen and (max-width: 37.5em) {
  .navigation-mobile {
    font-size: 1.6rem; } }

.navigation-inline__item--active {
  border-bottom: #00aaff solid 3px; }

.section-order {
  width: 100%;
  height: 70rem;
  background: url(../img/header-background.jpg) no-repeat center center, linear-gradient(to top right, #494949, #282828);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }
  @media only screen and (max-width: 53em) {
    .section-order {
      height: 115rem;
      background: linear-gradient(to top, #414141, #2f2f2f); } }
  @media only screen and (max-width: 37.5em) {
    .section-order {
      height: 91.8rem;
      background: linear-gradient(to top, #414141, #2f2f2f); } }

.section-advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 53em) {
    .section-advantages {
      height: 100rem;
      margin-bottom: 6rem; } }

.section-opportunities {
  display: flex;
  width: 100%;
  height: 91rem; }
  @media only screen and (max-width: 53em) {
    .section-opportunities {
      width: 100%;
      height: 72rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-opportunities {
      width: 100%;
      height: 80rem; } }

.section-privilege {
  width: 100%;
  height: 65.6rem;
  background: url(../img/privilage.png) no-repeat center center;
  background-size: cover; }
  @media only screen and (max-width: 64em) {
    .section-privilege {
      height: 55rem; } }
  @media only screen and (max-width: 53em) {
    .section-privilege {
      width: 100%;
      height: 60rem;
      background: url(../img/privilage-mobile.png) no-repeat center center;
      background-size: cover; } }
  @media only screen and (max-width: 37.5em) {
    .section-privilege {
      width: 100%;
      height: 60rem;
      background: url(../img/privilage-mobile.png) no-repeat center center;
      background-size: cover; } }

.section-options {
  width: 100%;
  background: linear-gradient(to top, #414141, #2f2f2f);
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 53em) {
    .section-options {
      height: 130rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-options {
      height: 100%;
      padding: 6.4rem 1.6rem; } }

.container {
  max-width: 124rem;
  margin: 1rem auto;
  padding: 10rem 0; }
  @media only screen and (max-width: 64em) {
    .container {
      padding: 5rem; } }
  @media only screen and (max-width: 53em) {
    .container {
      margin-top: 3rem;
      height: 52rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      height: 100%;
      margin: 0;
      width: 100%;
      padding: 7rem 1.6rem 0 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: center; } }

.features-section {
  width: 100%;
  display: flex;
  height: 80rem; }
  @media only screen and (max-width: 53em) {
    .features-section {
      height: 55rem; } }
  @media only screen and (max-width: 37.5em) {
    .features-section {
      height: 100%;
      flex-direction: column; } }

.subscribe-section {
  width: 100%;
  display: flex;
  height: 70rem; }
  @media only screen and (max-width: 64em) {
    .subscribe-section {
      height: 55rem; } }
  @media only screen and (max-width: 37.5em) {
    .subscribe-section {
      height: 78.7rem;
      flex-direction: column; } }

.support-section {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #e7e7e7, #e7e7e7), linear-gradient(to top, #414141, #2f2f2f); }
  @media only screen and (max-width: 64em) {
    .support-section {
      height: 35rem; } }
  @media only screen and (max-width: 53em) {
    .support-section {
      height: 76rem; } }
  @media only screen and (max-width: 37.5em) {
    .support-section {
      height: 71.6rem; } }

.actions-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 8rem 0; }
  @media only screen and (max-width: 53em) {
    .actions-section {
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .actions-section {
      flex-direction: column; } }

.request-section {
  width: 100%;
  background-image: linear-gradient(to top, #414141, #2f2f2f);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0; }
  @media only screen and (max-width: 53em) {
    .request-section {
      height: 100rem; } }
  @media only screen and (max-width: 37.5em) {
    .request-section {
      height: 145rem;
      padding: 6.4rem 1.6rem; } }

.section-answers {
  background-image: linear-gradient(to right, #414141, #2f2f2f);
  width: 100%; }

.answers {
  max-width: 125rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.answers__header {
  margin-bottom: 5rem;
  margin-top: 7rem; }

.answer {
  background-color: #e7e7e7;
  padding: 4rem;
  width: 100%;
  margin-bottom: 2.4rem; }

.answer__body {
  margin-top: 1.6rem; }

.order__container {
  display: flex;
  align-items: center;
  height: 60rem;
  padding: 6rem; }
  @media only screen and (max-width: 53em) {
    .order__container {
      padding: 1.6rem; } }
  @media only screen and (max-width: 53em) {
    .order__container {
      flex-direction: column;
      height: 105rem;
      padding: 0; } }
  @media only screen and (max-width: 37.5em) {
    .order__container {
      flex-direction: column;
      height: 90rem;
      padding: 0; } }

.order__card-box {
  width: 40%;
  margin: auto 2rem auto auto; }
  @media only screen and (min-width: 112.5em) {
    .order__card-box {
      width: 30%; } }
  @media only screen and (max-width: 53em) {
    .order__card-box {
      display: none; } }
  @media only screen and (max-width: 37.5em) {
    .order__card-box {
      display: none; } }

.order__card-box--responsive {
  display: none; }
  @media only screen and (max-width: 53em) {
    .order__card-box--responsive {
      margin: 3rem auto;
      display: block; } }
  @media only screen and (max-width: 37.5em) {
    .order__card-box--responsive {
      margin: 3rem auto;
      display: block; } }

.order__card {
  width: 100%;
  height: 100%; }

.order {
  height: 100%;
  width: 50%;
  padding: 0 12rem 5rem 3rem; }
  @media only screen and (max-width: 64em) {
    .order {
      padding-right: 6rem; } }
  @media only screen and (max-width: 53em) {
    .order {
      margin-top: 3rem;
      width: 85%;
      padding: 0; } }
  @media only screen and (max-width: 37.5em) {
    .order {
      margin-top: 3rem;
      width: 100%;
      height: 100%;
      padding: 0; } }

.order__actions {
  display: flex;
  align-items: center;
  margin-top: 4rem; }
  @media only screen and (max-width: 64em) {
    .order__actions {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .order__actions {
      flex-direction: column;
      margin: 0;
      padding: 1.6rem; } }
  .order__actions > * {
    margin-right: 6rem; }
    @media only screen and (max-width: 64em) {
      .order__actions > * {
        margin-right: .5rem; } }
    @media only screen and (max-width: 53em) {
      .order__actions > * {
        margin-right: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .order__actions > * {
        margin-bottom: 2.4rem;
        margin-right: 0; } }

.order__header {
  margin-top: 8rem;
  margin-bottom: 3rem;
  white-space: nowrap; }
  @media only screen and (max-width: 37.5em) {
    .order__header {
      margin: 1rem 1.6rem;
      text-align: start; } }

@media only screen and (min-width: 112.5em) {
  .order__text {
    width: 70%; } }

@media only screen and (max-width: 37.5em) {
  .order__text {
    padding: 1.6rem;
    text-align: left; } }

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/linked-path.svg) no-repeat center center;
  background-size: contain;
  height: 55rem;
  width: 110rem;
  margin-top: 9rem;
  position: relative; }
  @media only screen and (max-width: 64em) {
    .advantages {
      width: 75%; } }
  @media only screen and (max-width: 53em) {
    .advantages {
      height: 80rem;
      width: 100%;
      position: static;
      margin-top: 3.2rem;
      background: none;
      justify-content: flex-start; } }
  @media only screen and (max-width: 37.5em) {
    .advantages {
      height: 80rem;
      width: 100%;
      position: static;
      margin-top: 3.2rem;
      background: none;
      justify-content: flex-start; } }

.advantages__img-box {
  width: 28%; }
  @media only screen and (max-width: 53em) {
    .advantages__img-box {
      width: 90%;
      margin-bottom: 3.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .advantages__img-box {
      width: 90%;
      margin-bottom: 3.2rem; } }

.advantages__img {
  width: 100%;
  height: 100%; }

.advantages__item {
  position: absolute;
  width: 45rem;
  text-decoration: none; }
  @media only screen and (max-width: 90em) {
    .advantages__item {
      width: 40rem; } }
  @media only screen and (max-width: 80em) {
    .advantages__item {
      width: 35rem; } }
  @media only screen and (max-width: 64em) {
    .advantages__item {
      width: 30rem; } }
  @media only screen and (max-width: 53em) {
    .advantages__item {
      align-self: flex-start;
      display: flex;
      align-items: flex-start;
      padding: 2rem 3.6rem;
      position: static;
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .advantages__item {
      align-self: flex-start;
      display: flex;
      align-items: flex-start;
      padding: 2rem 1.6rem;
      position: static;
      width: 100%; } }

.advantages__header {
  margin-bottom: 1.6rem;
  text-decoration: none; }

.advantages__dot {
  display: none; }
  @media only screen and (max-width: 53em) {
    .advantages__dot {
      min-height: 1.6rem;
      min-width: 1.6rem;
      margin-top: 1rem;
      margin-right: 1.2rem;
      display: block; } }
  @media only screen and (max-width: 37.5em) {
    .advantages__dot {
      min-height: 1.6rem;
      min-width: 1.6rem;
      margin-top: 1rem;
      margin-right: 1.2rem;
      display: block; } }

.advantages__item-1 {
  top: 16.5%;
  left: 2%; }
  @media only screen and (max-width: 64em) {
    .advantages__item-1 {
      left: -7%; } }

.advantages__item-2 {
  top: 14.5%;
  left: 75%; }
  @media only screen and (max-width: 64em) {
    .advantages__item-2 {
      left: 80%; } }

.advantages__item-3 {
  top: 77.5%;
  left: 1%; }
  @media only screen and (max-width: 64em) {
    .advantages__item-3 {
      left: -8%; } }
  .advantages__item-3 a {
    white-space: nowrap; }

.advantages__item-4 {
  top: 60%;
  left: 72%; }
  @media only screen and (max-width: 64em) {
    .advantages__item-4 {
      left: 77%; } }

.opportunities__img {
  width: 50%;
  background: url(../img/Rectangle.png) no-repeat center, linear-gradient(to top, #414141, #2f2f2f); }
  @media only screen and (max-width: 53em) {
    .opportunities__img {
      display: none; } }
  @media only screen and (max-width: 37.5em) {
    .opportunities__img {
      display: none; } }

.opportunities {
  width: 50%;
  padding: 10rem 5rem 0 14rem; }
  @media only screen and (max-width: 64em) {
    .opportunities {
      padding: 5rem 5rem 0 5rem; } }
  @media only screen and (max-width: 53em) {
    .opportunities {
      width: 100%;
      padding: 4.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .opportunities {
      width: 100%;
      padding: 1.6rem; } }

.opportunities__header {
  margin-bottom: 5.6rem; }
  @media only screen and (max-width: 53em) {
    .opportunities__header {
      margin-bottom: 4.2rem;
      text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .opportunities__header {
      margin-bottom: 3.2rem; } }

.opportunity {
  display: flex;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 53em) {
    .opportunity {
      margin-bottom: 2.4rem; } }
  @media only screen and (max-width: 37.5em) {
    .opportunity {
      margin-bottom: 2.4rem; } }

.opportunity__logo-box {
  width: 4rem;
  height: 4rem;
  margin-right: 1.6rem; }

.opportunity__icon {
  min-width: 100%;
  min-height: 100%; }

.privilege {
  height: 100%;
  display: flex;
  align-items: center;
  width: 97rem;
  margin: 0 auto; }
  @media only screen and (max-width: 53em) {
    .privilege {
      flex-direction: column;
      width: 75%; } }
  @media only screen and (max-width: 37.5em) {
    .privilege {
      flex-direction: column;
      width: 100%; } }

.privilege__img-box {
  min-width: 37.4rem;
  min-height: 23.7rem;
  margin-right: 9rem; }
  @media only screen and (max-width: 64em) {
    .privilege__img-box {
      margin: 0 2rem; } }
  @media only screen and (max-width: 53em) {
    .privilege__img-box {
      min-width: 34.3rem;
      min-height: 21.6rem;
      margin: 4rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .privilege__img-box {
      min-width: 34.3rem;
      min-height: 21.6rem;
      margin: 5rem 1.6rem 3.2rem 3rem; } }

.privilege__img {
  width: 100%;
  height: 100%; }

.privilege__info {
  height: 23.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media only screen and (max-width: 53em) {
    .privilege__info {
      padding: 0 2.8rem;
      margin-bottom: 8rem;
      height: 25rem; } }
  @media only screen and (max-width: 37.5em) {
    .privilege__info {
      padding: 0 2.8rem;
      margin-bottom: 11rem;
      height: 17.5rem; } }

@media only screen and (max-width: 53em) {
  .privilege__info .paragraph {
    font-size: 2rem; } }

@media only screen and (max-width: 37.5em) {
  .privilege__info .paragraph {
    font-size: 1.8rem; } }

.privilege__link {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center; }

.privilege__link-arrow {
  margin-left: 1rem; }

.btn {
  display: flex;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      width: 100%;
      justify-content: center; } }

.btn--red {
  color: #ffffff;
  background-color: #ed1c24;
  padding: 2rem 2.2rem; }

.btn--transparent {
  margin: 2rem 2.2rem; }

.btn__logo-box {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem; }

.btn__icon {
  width: 100%;
  height: 100%; }

.capability__logo-box {
  width: 1.8rem;
  height: 1.8rem; }

.capability__icon {
  height: 100%;
  width: 100%; }

.options__container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  height: 56rem;
  width: 96rem;
  margin: 4rem auto; }
  @media only screen and (max-width: 53em) {
    .options__container {
      width: 83%;
      height: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .options__container {
      width: 100%;
      height: 100%;
      flex-flow: nowrap;
      flex-direction: column;
      align-items: center; } }

.option__header {
  width: min-content;
  white-space: nowrap;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .option__header {
      width: 90%;
      white-space: normal;
      margin-bottom: 3.2rem; } }

.option {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
  background-color: #f3f7fa;
  padding: 1.8rem 1.4rem 4rem 3.4rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 3rem;
  cursor: pointer;
  text-decoration: none; }
  @media only screen and (max-width: 53em) {
    .option {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .option {
      margin-bottom: 3rem;
      width: 34.3rem;
      height: 23.7rem; } }

.option__img {
  position: absolute;
  background-size: cover;
  overflow: hidden; }

.option__img-1 {
  background-image: url(../img/image-34.png);
  top: 0;
  left: 55%;
  width: 45%;
  height: 50%; }

.option__img-2 {
  background-image: url(../img/image-35.png);
  top: -3%;
  left: 60%;
  width: 40%;
  height: 50%; }
  @media only screen and (max-width: 37.5em) {
    .option__img-2 {
      height: 65%; } }

.option__img-3 {
  background-image: url(../img/image-26.png);
  top: -5%;
  left: 67%;
  width: 33%;
  height: 50%; }
  @media only screen and (max-width: 37.5em) {
    .option__img-3 {
      height: 60%; } }

.option__img-4 {
  background-image: url(../img/image-bag.png);
  top: -8%;
  left: 70%;
  width: 30%;
  height: 50%; }
  @media only screen and (max-width: 37.5em) {
    .option__img-4 {
      height: 70%; } }

.option__img-5 {
  background-image: url(../img/image-33.png);
  top: -22%;
  left: 68%;
  width: 32%;
  height: 60%;
  transform: scale(1.5); }

.option__img-6 {
  background-image: url(../img/image-31.png);
  top: -8%;
  left: 65%;
  width: 35%;
  height: 50%; }

.option__title {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #2f3441;
  margin-bottom: auto; }

.option__value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: HelveticaNeueCyr-Roman, sans-serif;
  font-size: 4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: 0.4px;
  color: #2f3441; }

.option__chevron {
  width: 2rem;
  height: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .option__chevron {
      display: none; } }

.option__text {
  margin-top: 1rem;
  height: 4rem;
  text-decoration: none; }

.features__image-container {
  width: 50%;
  background: linear-gradient(to bottom, #e7e7e7, #e7e7e7), linear-gradient(to top, #414141, #2f2f2f);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .features__image-container {
      height: 39rem;
      width: 100%; } }

@media only screen and (max-width: 37.5em) {
  .features__image-box {
    margin-right: auto;
    height: 35rem;
    width: 30.5rem; } }

.features__image {
  width: 100%;
  height: 100%; }

.features {
  padding: 8% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%; }
  @media only screen and (max-width: 37.5em) {
    .features {
      justify-content: flex-start;
      margin-top: 3.2rem;
      width: 100%; } }

.features__list {
  list-style-type: none;
  margin-top: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    .features__list {
      margin-left: 0.5rem; } }
  .features__list > li {
    text-indent: -5px; }
  .features__list > li:before {
    content: "- ";
    text-indent: -5px; }

.features__apps {
  display: flex;
  justify-content: flex-start; }
  @media only screen and (max-width: 37.5em) {
    .features__apps {
      width: 100%;
      margin-top: 3.2rem;
      justify-content: space-between; } }

.features__img-box {
  width: 20.8rem;
  height: 6rem;
  cursor: pointer;
  margin-right: 2.5rem; }
  @media only screen and (max-width: 53em) {
    .features__img-box {
      width: 16rem;
      height: 4.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .features__img-box {
      margin-right: 0;
      width: 16rem;
      height: 4.6rem; } }

.features__img {
  width: 100%;
  height: 100%; }

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
  height: 40rem;
  width: 50%; }
  @media only screen and (max-width: 64em) {
    .subscribe {
      padding-left: 3rem; } }
  @media only screen and (max-width: 53em) {
    .subscribe {
      padding: 1.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .subscribe {
      padding: 3.2rem 1.6rem 5.4rem 1.6rem;
      height: 44.2rem;
      width: 100%;
      order: 2; } }

.subscribe__header {
  margin-bottom: 1.5rem; }

.subscribe__text {
  width: 41.4rem;
  margin-left: auto;
  margin-right: 12rem; }
  @media only screen and (max-width: 53em) {
    .subscribe__text {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .subscribe__text {
      width: 100%; } }

@media only screen and (max-width: 37.5em) {
  .subscribe__text-advice {
    font-size: 1.8rem; } }

.subscribe__form-container {
  width: 41.4rem;
  margin-left: auto;
  margin-right: 12rem; }
  @media only screen and (max-width: 37.5em) {
    .subscribe__form-container {
      width: 100%; } }

.subscribe__form {
  display: flex;
  margin-top: 1.6rem; }

.subscribe__input {
  width: 40rem;
  height: 6rem;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border: none;
  border-left: 4px solid #1e4bd2;
  padding: 2rem; }
  @media only screen and (max-width: 53em) {
    .subscribe__input {
      width: 80%; } }

.subscribe__input::placeholder {
  font-size: 1.6rem;
  color: #acb6c3; }

.subscribe__button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  transform: translateX(-4rem);
  cursor: pointer; }

.subscribe__image-box {
  width: 50%;
  background: linear-gradient(to top, #414141, #2f2f2f);
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .subscribe__image-box {
      display: block;
      width: 100%;
      height: 34.5rem;
      order: 1; } }

.subscribe__image {
  width: 70%;
  transform: translateX(-5%); }
  @media only screen and (max-width: 53em) {
    .subscribe__image {
      width: 100%;
      transform: scale(1.1) translateX(-8%) translateY(5%); } }
  @media only screen and (max-width: 37.5em) {
    .subscribe__image {
      width: 100%;
      transform: scale(1.4) translateX(-12%) translateY(5%); } }

.support {
  display: flex; }
  @media only screen and (max-width: 64em) {
    .support {
      margin-left: 1rem; } }
  @media only screen and (max-width: 53em) {
    .support {
      flex-direction: column;
      width: 100%;
      padding: 1.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .support {
      flex-direction: column;
      width: 100%;
      padding: 1.6rem; } }

.support__help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 61.6rem;
  height: 24.4rem;
  background-color: #303030;
  padding: 3.6rem 5.4rem;
  cursor: pointer;
  text-decoration: none;
  margin-right: .8rem; }
  @media only screen and (max-width: 53em) {
    .support__help {
      padding: 1.3rem 2.6rem 3rem 1.7rem;
      width: 95%;
      height: 18.4rem;
      margin: auto auto 2rem auto; } }
  @media only screen and (max-width: 37.5em) {
    .support__help {
      padding: 1.3rem 2.6rem 3rem 1.7rem;
      margin-bottom: 1.6rem;
      margin-right: 0;
      width: 100%;
      height: 18.4rem; } }

.support__chevron {
  margin-left: auto;
  width: 1rem;
  height: 1.8rem;
  cursor: pointer; }

.support__text {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.support__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 65rem; }
  @media only screen and (max-width: 53em) {
    .support__container {
      margin: auto;
      max-width: 95%; } }
  @media only screen and (max-width: 37.5em) {
    .support__container {
      margin: auto;
      max-width: 65rem; } }

.support__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31rem;
  height: 11.8rem;
  background-color: #303030;
  padding: 1.3rem 2.6rem 3rem 1.7rem;
  cursor: pointer;
  text-decoration: none;
  margin-right: .8rem;
  margin-bottom: .8rem; }
  @media only screen and (max-width: 53em) {
    .support__item {
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      margin-bottom: 1.6rem;
      width: 100%;
      height: 8.7rem; } }
  @media only screen and (max-width: 37.5em) {
    .support__item {
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      margin-bottom: 1.6rem;
      width: 100%;
      height: 8.7rem; } }

.action {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  @media only screen and (max-width: 53em) {
    .action {
      flex-direction: row;
      margin-bottom: 3.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .action {
      flex-direction: row;
      margin-bottom: 3.2rem; } }

.action__img-box {
  width: 5.6rem;
  height: 5.6rem;
  margin-bottom: 3rem;
  cursor: pointer; }
  @media only screen and (max-width: 53em) {
    .action__img-box {
      height: 3.2rem;
      margin-right: 2.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .action__img-box {
      height: 3.2rem;
      margin-right: 2.6rem; } }

.action__img-icon {
  width: 100%;
  height: 100%; }

.action__text {
  display: flex;
  flex-direction: column; }

.action__header {
  margin-bottom: .8rem; }

.action__chevron {
  width: 1.8rem;
  height: 3.2rem;
  margin: auto 3rem; }
  @media only screen and (max-width: 53em) {
    .action__chevron {
      display: none; } }
  @media only screen and (max-width: 37.5em) {
    .action__chevron {
      display: none; } }

.request__steps {
  display: flex;
  width: 23.5rem;
  align-items: center;
  margin: 4rem 0; }
  @media only screen and (max-width: 37.5em) {
    .request__steps {
      height: 5rem; } }

.form {
  width: 64.8rem; }
  @media only screen and (max-width: 37.5em) {
    .form {
      width: 100%; } }

.form__inputs {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .form__inputs {
      flex-direction: column; } }

.form__text {
  height: 6.4rem;
  border-radius: 4px;
  border: solid 1px #dce0eb;
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 2.4rem; }

.form__text::placeholder {
  font-size: 1.6rem;
  color: #acb6c3; }

.form__text--full {
  width: 100%; }

.form__text--half {
  width: 48.5%; }
  @media only screen and (max-width: 37.5em) {
    .form__text--half {
      width: 100%; } }

.form__currencies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .form__currencies {
      height: 15.2rem;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 1rem; } }

.form__checkbox-item {
  display: flex;
  align-items: center;
  position: relative; }

.form__checkbox-label {
  margin-left: 1rem;
  font-size: 1.4rem;
  position: relative;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .form__checkbox-label {
      margin-left: 6rem; } }

.form__submit-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .form__submit-section {
      height: 16rem;
      margin: 4rem 0;
      padding-left: 0;
      width: 100%;
      flex-direction: column; } }

.form__link {
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.4px;
  color: #00aaff;
  margin-left: 1rem; }

.request__step {
  margin-right: 5rem; }

.request__line {
  border-top: 1px solid #ffffff;
  width: 8rem; }

.request__radio-btn {
  min-width: 4.8rem;
  min-height: 4.8rem;
  background-color: #ffffff;
  border: 3px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 2.2rem;
  line-height: 4.4rem;
  vertical-align: center;
  font-family: HelveticaNeueCyr, sans-serif;
  cursor: pointer; }

.request__radio-btn--active {
  border: solid 3px #00aaff; }

.form-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 15px;
  width: 15px;
  left: -4rem; }

.check-mark {
  position: absolute;
  left: -4rem;
  height: 15px;
  width: 15px;
  border: 1.5px solid #ffffff;
  background-color: #383838; }

/* On mouse-over, add a grey background color */
.form-checkbox:hover ~ .check-mark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.form-checkbox:checked ~ .check-mark {
  background-color: #ffffff; }

/* Create the checkmark/indicator (hidden when not checked) */
.check-mark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.form-checkbox:checked ~ .check-mark:after {
  display: block; }

/* Style the checkmark/indicator */
.check-mark:after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #383838;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
