/*All browser reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*Enforce inheritance of box-sizing to inherit it from plugins*/
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem = 10px; 10px / 16px = 62.5% */ }

body {
  /*Borders and padding not added to box width/height*/
  box-sizing: border-box; }

header {
  font-family: HelveticaRegular, Arial, Garuda, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: white; }

body {
  font-family: HelveticaRegular, Arial, Garuda, sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.navigation__top {
  background-color: #0a2896;
  font-size: 13px;
  border-bottom: 1px solid #1f3d82;
  height: 4rem; }

.navigation__top-after {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 22px;
  padding-right: 22px; }

.navigation__top-left {
  float: left; }

.navigation__top-right {
  float: right; }
