@charset "UTF-8";

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("fonts/HelveticaNeueCyr-Thin.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyrLight";
  src: url("fonts/HelveticaNeueCyr-Light.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("fonts/HelveticaNeueCyr-Roman.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("fonts/HelveticaNeueCyr-Medium.woff") format('woff');
  font-weight: normal;
}

/*All browser reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*Enforce inheritance of box-sizing to inherit it from plugins*/
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem = 10px; 10px / 16px = 62.5% */ }

body {
  /*Borders and padding not added to box width/height*/
  box-sizing: border-box; }

header {
  font-weight: 400;
  line-height: 1.7;
  color: white; }

body {
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  font-family: HelveticaNeueCyr-Medium, sans-serif;
  font-size: 5.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: 0.4px;
  color: #ffffff; }

.heading-secondary {
  font-family: HelveticaNeueCyr-Medium, sans-serif;
  font-size: 4.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.4px; }

.heading-third {
  font-family: HelveticaNeueCyr-Medium, sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px; }

.heading-fourth {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.4px; }

.paragraph {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px; }

.paragraph-header {
  font-family: HelveticaNeueCyr-Roman, sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px; }

.notes {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.1px; }

.label-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #acb6c3; }

.white-text {
  color: #ffffff; }

.dark-text {
  color: #2f3441; }

.grey-text {
  color: #616161; }

.blue-text {
  color: #1e4bd2; }

.margin-section {
  margin: 9rem 0; }

.navigation-header {
  width: 100%;
  background-size: cover;
  height: 8rem;
  background-color: #0a2896; }

.navigation-inline {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem; }

.navigation-inline-left {
  justify-content: flex-start; }
  .navigation-inline-left > * {
    margin-right: 3rem; }

.navigation-inline-right {
  justify-content: flex-end; }
  .navigation-inline-right > * {
    margin-left: 3rem; }

.navigation-inline__item {
  text-decoration: none;
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.4px;
  white-space: nowrap;
  padding-bottom: 1rem; }

.navigation-inline__item--active {
  border-bottom: #00aaff solid 3px; }

.section-order {
  width: 100%;
  height: 75vh;
  background: url(../img/card-background.png) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.section-advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.section-opportunities {
  display: flex;
  width: 100%;
  height: 91rem; }

.section-privilege {
  width: 100%;
  height: 65.6rem;
  background: url(../img/privilage.png) no-repeat center center;
  background-size: cover; }

.section-options {
  width: 100%;
  background: linear-gradient(to top, #414141, #2f2f2f);
  padding: 12.5rem 0 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container {
  max-width: 124rem;
  margin: 1rem auto; }

.description {
  display: flex;
  flex-direction: column;
  margin: 8rem 0; }

.cashback {
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.capabilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0; }

.full-width {
  width: 100%;
  height: 21.2rem;
  background-color: #f3f7fa; }

.subscribe {
  display: flex;
  align-items: center;
  height: 21.2rem;
  justify-content: space-between; }

.features-section {
  width: 100%;
  display: flex;
  height: 74.5vh; }

.subscribe-section {
  width: 100%;
  display: flex;
  height: 74.5vh; }

.support-section {
  width: 100%;
  height: 57vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #e7e7e7, #e7e7e7), linear-gradient(to top, #414141, #2f2f2f); }

.actions {
  display: flex;
  align-items: flex-start;
  margin: 8rem 0; }

.request-section {
  width: 100%;
  background-image: linear-gradient(to top, #414141, #2f2f2f);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0; }

.order {
  width: 50%;
  float: right;
  padding: 5rem 12rem 5rem 0; }

.order__actions {
  display: flex;
  align-content: center;
  margin-top: 4rem; }
  .order__actions > * {
    margin-right: .9rem; }

.order__header {
  margin-top: 9.5rem;
  margin-bottom: 3rem; }

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/linked-path.svg) no-repeat center center;
  background-size: contain;
  height: 76vh;
  width: 72vw;
  margin-top: 9rem;
  position: relative; }

.advantages__img-box {
  width: 28%; }

.advantages__img {
  width: 100%;
  height: 100%; }

.advantages__item {
  position: absolute;
  width: 45rem; }

.advantages__header {
  margin-bottom: 1.6rem; }

.advantages__item-1 {
  top: 16%;
  left: 2%; }

.advantages__item-2 {
  top: 14%;
  left: 75%; }

.advantages__item-3 {
  top: 77.5%;
  left: 1%; }

.advantages__item-4 {
  top: 59%;
  left: 72%; }

.opportunities__img {
  width: 50%;
  background: url(../img/Rectangle.png) no-repeat center, linear-gradient(to top, #414141, #2f2f2f); }

.opportunities {
  width: 50%;
  padding: 12rem 5rem 0 16rem; }

.opportunities__header {
  margin-bottom: 5.6rem; }

.opportunity {
  display: flex;
  margin-bottom: 4rem; }

.opportunity__logo-box {
  width: 4rem;
  height: 4rem;
  margin-right: 1.6rem; }

.opportunity__icon {
  width: 100%;
  height: 100%; }

.privilege {
  height: 100%;
  display: flex;
  align-items: center;
  width: 97rem;
  margin: 0 auto; }

.privilege__img-box {
  min-width: 37.4rem;
  min-height: 23.7rem;
  margin-right: 9rem; }

.privilege__img {
  width: 100%;
  height: 100%; }

.privilege__info {
  height: 23.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.privilege__link {
  cursor: pointer;
  text-decoration: none; }

.btn {
  display: flex;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-decoration: none;
  border: none;
  cursor: pointer; }

.btn--red {
  color: #ffffff;
  background-color: #ed1c24;
  padding: 2rem 2.2rem; }

.btn--transparent {
  margin: 2rem 2.2rem; }

.btn__logo-box {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem; }

.btn__icon {
  width: 100%;
  height: 100%; }

.capability__logo-box {
  width: 1.8rem;
  height: 1.8rem; }

.capability__icon {
  height: 100%;
  width: 100%; }

.options__container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  height: 78rem;
  width: 126rem;
  margin: 8rem auto; }

.option__header {
  width: min-content;
  white-space: nowrap; }

.option {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 40rem;
  background-color: #f3f7fa;
  padding: 2.8rem 5.4rem 5rem 5.4rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 3rem;
  cursor: pointer;
  text-decoration: none; }

.option__img {
  position: absolute;
  background-size: cover;
  overflow: hidden; }

.option__img-1 {
  background-image: url(../img/image-34.png);
  top: 0;
  left: 55%;
  width: 45%;
  height: 50%; }

.option__img-2 {
  background-image: url(../img/image-35.png);
  top: -3%;
  left: 60%;
  width: 40%;
  height: 50%; }

.option__img-3 {
  background-image: url(../img/image-26.png);
  top: -5%;
  left: 67%;
  width: 33%;
  height: 50%; }

.option__img-4 {
  background-image: url(../img/image-bag.png);
  top: -8%;
  left: 70%;
  width: 30%;
  height: 50%; }

.option__img-5 {
  background-image: url(../img/image-33.png);
  top: -22%;
  left: 68%;
  width: 32%;
  height: 60%;
  transform: scale(1.5); }

.option__img-6 {
  background-image: url(../img/image-31.png);
  top: -8%;
  left: 65%;
  width: 35%;
  height: 50%; }

.option__title {
  font-family: HelveticaNeueCyrLight, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #2f3441;
  margin-bottom: auto; }

.option__value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: HelveticaNeueCyr-Roman, sans-serif;
  font-size: 4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: 0.4px;
  color: #2f3441; }

.option__chevron {
  width: 2rem;
  height: 4rem; }

.option__text {
  margin-top: 1rem;
  height: 4rem;
  text-decoration: none; }

.features__image-box {
  width: 50%;
  background: linear-gradient(to bottom, #e7e7e7, #e7e7e7), linear-gradient(to top, #414141, #2f2f2f);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

.features {
  padding: 8% 5%;
  display: flex;
  flex-direction: column;
  width: 50%; }

.features__list {
  list-style-type: none; }
  .features__list > li {
    text-indent: -5px; }
  .features__list > li:before {
    content: "- ";
    text-indent: -5px; }

.features__apps {
  margin-top: auto;
  display: flex;
  justify-content: flex-start; }

.features__img-box {
  width: 20.8rem;
  height: 6rem;
  cursor: pointer;
  margin-right: 2.5rem; }

.features__img {
  width: 100%;
  height: 100%; }

.subscribe {
  padding: 10% 5% 10% 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 50%; }

.subscribe__header {
  margin-bottom: 1.5rem; }

.subscribe__form {
  display: flex;
  margin-top: 3.6rem; }

.subscribe__input {
  width: 40rem;
  height: 6rem;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border: none;
  border-left: 4px solid #1e4bd2;
  padding: 2rem; }

.subscribe__button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  transform: translateX(-4rem);
  cursor: pointer; }

.subscribe__image-box {
  width: 50%;
  background: linear-gradient(to top, #414141, #2f2f2f);
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.subscribe__image {
  transform: translateX(-5%); }

.support {
  display: flex; }

.support__help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 61.6rem;
  height: 24.4rem;
  background-color: #303030;
  padding: 3.6rem 5.4rem;
  cursor: pointer;
  text-decoration: none;
  margin-right: .8rem; }

.support__chevron {
  margin-left: auto;
  width: 1rem;
  height: 1.8rem;
  cursor: pointer; }

.support__text {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.support__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 65rem; }

.support__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31rem;
  height: 11.8rem;
  background-color: #303030;
  padding: 1.3rem 2.6rem 3rem 1.7rem;
  cursor: pointer;
  text-decoration: none;
  margin-right: .8rem;
  margin-bottom: .8rem; }

.action {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.action__img-box {
  max-width: 5.6rem;
  max-height: 5.6rem;
  margin-bottom: 3rem;
  cursor: pointer; }

.action__header {
  margin-bottom: .8rem; }

.action__chevron {
  width: 1.8rem;
  height: 3.2rem;
  margin: auto 3rem; }

.request__steps {
  display: flex;
  width: 8%;
  justify-content: space-between;
  margin: 4rem 0; }

.form {
  width: 64.8rem; }

.form__inputs {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.form__text {
  height: 6.4rem;
  border-radius: 4px;
  border: solid 1px #dce0eb;
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 2.4rem; }

.form__text--full {
  width: 100%; }

.form__text--half {
  width: 48.5%; }

.form__currencies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem; }

.form__checkbox-item {
  display: flex;
  align-items: center; }

.form__checkbox-label {
  margin-left: 1rem;
  font-size: 1.4rem; }

.form__submit-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem; }
