.header-menu {
    display: flex;
    align-items: center;
    width: 112rem;
    margin: 0 auto;
    padding: 3rem 0;
    
    & > * {
        margin-right: 4.8rem;
        cursor: pointer;
        text-decoration: none;
    }
}