.navigation-inline {
    display: flex;
    justify-content: flex-start;
    
    & > * {
        margin-right: 3rem;
        
        @include respond(phone) {
            margin-right: 0;
        }
    }
    
    @include respond(phone) {
        width: 100%;
        justify-content: space-between;
    }
}

.navigation-inline-head {
    display: flex;
    justify-content: flex-start;
    
    @include respond(phone) {
        justify-content: center;
    }
    
    & > * {
        margin-right: 3rem;
    }
}

.navigation-inline__item {
    text-decoration: none;
    font-family: HelveticaNeueCyrLight, sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.4px;
    white-space: nowrap;
    padding-bottom: 1rem;
}

.navigation-mobile {
    
    @include respond(phone) {
        font-size: 1.6rem;
    }
}

.navigation-inline__item--active {
    border-bottom: #00aaff solid 3px;
}