.navigation-header {
    width: 100%;
    background-size: cover;
    height: 20rem;
    //background-image: url("../img/header-image.jpg");
    background-color: #0a2896;
}

.navigation-inline {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.navigation-inline__item {
    text-decoration: none;
    font-family: HelveticaNeueCyrLight, sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #616161;
    white-space: nowrap;
    padding-bottom: 1rem;
    margin-left: 3rem;
}

.navigation-inline__item--active {
    border-bottom: #00aaff solid 3px;
}