.action {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    @include respond(phone) {
        flex-direction: row;
        margin-bottom: 3.2rem;
    }
}

.action__img-box {
    width: 5.6rem;
    height: 5.6rem;
    margin-bottom: 3rem;
    cursor: pointer;
    
    @include respond(phone) {
        height: 3.2rem;
        margin-right: 2.6rem;
    }
}

.action__img-icon {
    width: 100%;
    height: 100%;
}

.action__text {
    display: flex;
    flex-direction: column;
}

.action__header {
    margin-bottom: .8rem;
}

.action__chevron {
    width: 1.8rem;
    height: 3.2rem;
    margin: auto 3rem;
    
    @include respond(phone) {
        display: none;
    }
}