.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/linked-path.svg) no-repeat center center;
    background-size: contain;
    height: 76vh;
    width: 72vw;
    margin-top: 9rem;
    position: relative;
}

.advantages__img-box {
    width: 28%;
}

.advantages__img {
    width: 100%;
    height: 100%;
}

.advantages__item {
    position: absolute;
    width: 45rem;
    text-decoration: none;
}

.advantages__header {
    margin-bottom: 1.6rem;
    text-decoration: none;
}

.advantages__item-1 {
    top: 16%;
    left: 2%;
}

.advantages__item-2 {
    top: 14%;
    left: 75%;
}

.advantages__item-3 {
    top: 77.5%;
    left: 1%;
}

.advantages__item-4 {
    top: 59%;
    left: 72%;
}