.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/vtb-card.png) no-repeat center center;
    width: 100%;
    height: 83rem;
    margin-top: 9rem;
}

.advantages__item {
    width: 50rem;
}

.advantages__header {
    margin-bottom: 1.6rem;
}

.advantages__item-1 {
    position: absolute;
    top: 29.5%;
    left: 25%;
}

.advantages__item-2 {
    position: absolute;
    top: 27.5%;
    left: 64%;
}

.advantages__item-3 {
    position: absolute;
    top: 82%;
    left: 26%;
}

.advantages__item-4 {
    position: absolute;
    top: 66.5%;
    left: 63%;
}