.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/vtb-card.png) no-repeat center center;
    width: 100%;
    height: 83rem;
    margin-top: 9rem;
}