.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/linked-path.svg) no-repeat center center;
    background-size: contain;
    height: 55rem;
    width: 110rem;
    margin-top: 9rem;
    position: relative;
    
    @include respond(tab-port) {
        width: 75%;
    }
    
    @include respond(tab-small) {
        height: 80rem;
        width: 100%;
        position: static;
        margin-top: 3.2rem;
        background: none;
        justify-content: flex-start;
    }
    
    @include respond(phone) {
        height: 80rem;
        width: 100%;
        position: static;
        margin-top: 3.2rem;
        background: none;
        justify-content: flex-start;
    }
}

.advantages__img-box {
    width: 28%;
    
    @include respond(tab-small) {
        width: 90%;
        margin-bottom: 3.2rem;
    }
    
    @include respond(phone) {
        width: 90%;
        margin-bottom: 3.2rem;
    }
}

.advantages__img {
    width: 100%;
    height: 100%;
}

.advantages__item {
    position: absolute;
    width: 45rem;
    text-decoration: none;
    
    
    @include respond(small-desktop) {
        width: 40rem;
    }
    
    @include respond(tab-land) {
        width: 35rem;
    }
    
    @include respond(tab-port) {
        width: 30rem;
    }
    
    @include respond(tab-small) {
        align-self: flex-start;
        display: flex;
        align-items: flex-start;
        padding: 2rem 3.6rem;
        position: static;
        width: 100%;
    }
    
    @include respond(phone) {
        align-self: flex-start;
        display: flex;
        align-items: flex-start;
        padding: 2rem 1.6rem;
        position: static;
        width: 100%;
    }
    
}

.advantages__header {
    margin-bottom: 1.6rem;
    text-decoration: none;
}

.advantages__dot {
    
    display: none;
    
    @include respond(tab-small) {
        min-height: 1.6rem;
        min-width: 1.6rem;
        margin-top: 1rem;
        margin-right: 1.2rem;
        display: block;
    }
    
    @include respond(phone) {
        min-height: 1.6rem;
        min-width: 1.6rem;
        margin-top: 1rem;
        margin-right: 1.2rem;
        display: block;
    }
}

.advantages__item-1 {
    top: 16.5%;
    left: 2%;
    
    @include respond(tab-port) {
        left: -7%;
    }
}

.advantages__item-2 {
    top: 14.5%;
    left: 75%;
    
    @include respond(tab-port) {
        left: 80%;
    }
}

.advantages__item-3 {
    top: 77.5%;
    left: 1%;
    
    @include respond(tab-port) {
        left: -8%;
    }
    
    a {
        white-space: nowrap;
    }
}

.advantages__item-4 {
    top: 60%;
    left: 72%;
    
    @include respond(tab-port) {
        left: 77%;
    }
}