.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/vtb-card.png) no-repeat center center;
    width: 100%;
    height: 83rem;
    margin-top: 9rem;
}

.advantages__item {
    position: absolute;
    width: 50rem;
}

.advantages__header {
    margin-bottom: 1.6rem;
}

.advantages__item-1 {
    top: 29.5%;
    left: 15%;
}

.advantages__item-2 {
    top: 27.5%;
    left: 69%;
}

.advantages__item-3 {
    top: 82%;
    left: 16%;
}

.advantages__item-4 {
    top: 66.5%;
    left: 68%;
}