.capabilities__container {
    width: 100%;
    display: flex;
    margin-top: 6.4rem;
}

.capabilities__column {
    flex: 50%;
}

.capability {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.capability__logo-box {
    min-width: 2.4rem;
    min-height: 2.4rem;
    margin-top: .4rem;
}

.capability__icon {
    height: 100%;
    width: 100%;
}

.capability__description {
    margin-left: 2.6rem;
    font-family: HelveticaNeueCyrThin, sans-serif;
    font-size: 18px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #2f3441;
}