.capabilities__header {
    font-family: HelveticaNeueCyrLight, sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #2f3441;
    margin-bottom: 1.8rem;
}

.capability {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.capability__logo-box {
    width: 1.8rem;
    height: 1.8rem;
}

.capability__icon {
    height: 100%;
    width: 100%;
}

.capability__description {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: 0.4px;
    color: #2f3441;
    margin-left: 3.5rem;
}