.cashback__item {
    width: 40.8rem;
    height: 42.4rem;
    padding: 5.4rem 4.7rem 0 3.2rem;
    
    font-family: HelveticaNeueCyrLight, sans-serif;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.4px;
    color: #ffffff;
    background-size: cover;
}

.cashback__item-1 {
    background-image: linear-gradient(rgba(28, 28, 28, 0.7), rgba(28, 28, 28, 0.7)), url(../img/cashback-1.png);
}

.cashback__item-2 {
    background-image: linear-gradient(rgba(28, 28, 28, 0.7), rgba(28, 28, 28, 0.7)), url(../img/cashback-2.png);
}

.cashback__item-3 {
    background-image: linear-gradient(rgba(28, 28, 28, 0.7), rgba(28, 28, 28, 0.7)), url(../img/cashback-3.png);
}