.description {
    display: flex;
}

.description__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8rem;
    max-height: 48rem;
}

.description__container h2 {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 4.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.4px;
    color: #2f3441;
}

.description__text {
    width: 57rem;
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: 0.4px;
    color: #2f3441;
    margin-top: 1.8rem;
}

.description__card {
    width: 48rem;
    height: 30rem;
    border-radius: 16px;
    background-color: #c4c4c4;
}

.description__actions {
    display: flex;
    align-content: center;
    
    & > * {
        margin-right: .5rem;
    }
}

.description__features {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
}

.description__feature-name {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: 0.4px;
    color: #2f3441;
}

.description__feature-text {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.91;
    letter-spacing: 0.4px;
    color: #2f3441;
}