.features__image-container {
    width: 50%;
    background: linear-gradient(to bottom, #e7e7e7, #e7e7e7), linear-gradient(to top, #414141, #2f2f2f);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.features__image {
    width: 100%;
    height: 100%;
}

.features {
    padding: 8% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.features__list {
    list-style-type: none;
    margin-top: 1.6rem;
    
    & > li {
        text-indent: -5px;
    }
    
    & > li:before {
        content: "- ";
        text-indent: -5px;
    }
}

.features__apps {
    //margin-top: auto;
    display: flex;
    justify-content: flex-start;
}

.features__img-box {
    width: 20.8rem;
    height: 6rem;
    cursor: pointer;
    margin-right: 2.5rem;
}

.features__img {
    width: 100%;
    height: 100%;
}
