.features__image-container {
    width: 50%;
    background: linear-gradient(to bottom, #e7e7e7, #e7e7e7), linear-gradient(to top, #414141, #2f2f2f);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    @include respond(phone) {
        height: 39rem;
        width: 100%;
    }
}

.features__image-box {
    
    @include respond(phone) {
        margin-right: auto;
        height: 35rem;
    }
}

.features__image {
    width: 100%;
    height: 100%;
}

.features {
    padding: 8% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    
    @include respond(phone) {
        justify-content: flex-start;
        margin-top: 3.2rem;
        width: 100%;
    }
}

.features__list {
    list-style-type: none;
    margin-top: 1.6rem;
    
    @include respond(phone) {
        margin-left: 0.5rem;
    }
    
    & > li {
        text-indent: -5px;
    }
    
    & > li:before {
        content: "- ";
        text-indent: -5px;
    }
}

.features__apps {
    display: flex;
    justify-content: flex-start;
    
    @include respond(phone) {
        width: 100%;
        margin-top: 3.2rem;
        justify-content: space-between;
    }
}

.features__img-box {
    width: 20.8rem;
    height: 6rem;
    cursor: pointer;
    margin-right: 2.5rem;
    
    @include respond(phone) {
        margin-right: 0;
        width: 16rem;
        height: 4.6rem;
    }
}

.features__img {
    width: 100%;
    height: 100%;
}
