.features__image {
    width: 55rem;
    height: 48.5rem;
    background-color: #c4c4c4;
    background-image: url(../img/mobile-bank.png);
}

.features__container {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.features__list {
    list-style-type: none;
    
    & > li {
        text-indent: -5px;
    }
    
    & > li:before {
        content: "- ";
        text-indent: -5px;
    }
}

.features__apps {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.features__img-box {
    width: 20.8rem;
    height: 6rem;
    cursor: pointer;
}

.features__img {
    width: 100%;
    height: 100%;
}
