.opportunities__img {
    width: 50%;
    background: url(../img/Rectangle.png) no-repeat center, linear-gradient(to top, #414141, #2f2f2f);
    
    @include respond(phone) {
       display: none;
    }
}

.opportunities {
    width: 50%;
    padding: 10rem 5rem 0 14rem;
    
    @include respond(tab-port) {
        padding: 5rem 5rem 0 5rem;
    }
    
    @include respond(phone) {
        width: 100%;
        padding: 1.6rem;
    }
}

.opportunities__header {
    margin-bottom: 5.6rem;
    
    @include respond(phone) {
        margin-bottom: 3.2rem;
    }
}

.opportunity {
    display: flex;
    margin-bottom: 4rem;
    
    @include respond(phone) {
        margin-bottom: 2.4rem;
    }
}

.opportunity__logo-box {
    width: 4rem;
    height: 4rem;
    margin-right: 1.6rem;
}

.opportunity__icon {
    min-width: 100%;
    min-height: 100%;
}