.options__container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    height: 56rem;
    width: 96rem;
    margin: 4rem auto;
    
    @include respond(phone) {
        width: 100%;
        height: 100%;
        flex-flow: nowrap;
        flex-direction: column;
        align-items: center;
    }
}

.option__header {
    width: min-content;
    white-space: nowrap;
    margin-bottom: 4rem;
    
    @include respond(phone) {
        width: 90%;
        white-space: normal;
        margin-bottom: 3.2rem;
    }
}

.option {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    background-color: #f3f7fa;
    padding: 1.8rem 1.4rem 4rem 3.4rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 3rem;
    cursor: pointer;
    text-decoration: none;
    
    @include respond(phone) {
        width: 34.3rem;
        height: 23.7rem;
    }
}

.option__img {
    position: absolute;
    background-size: cover;
    overflow: hidden;
}

.option__img-1 {
    background-image: url(../img/image-34.png);
    top: 0;
    left: 55%;
    width: 45%;
    height: 50%;
}

.option__img-2 {
    background-image: url(../img/image-35.png);
    top: -3%;
    left: 60%;
    width: 40%;
    height: 50%;
    
    @include respond(phone) {
        height: 65%;
    }
}

.option__img-3 {
    background-image: url(../img/image-26.png);
    top: -5%;
    left: 67%;
    width: 33%;
    height: 50%;
    
    @include respond(phone) {
        height: 60%;
    }
}

.option__img-4 {
    background-image: url(../img/image-bag.png);
    top: -8%;
    left: 70%;
    width: 30%;
    height: 50%;
    
    @include respond(phone) {
        height: 70%;
    }
}

.option__img-5 {
    background-image: url(../img/image-33.png);
    top: -22%;
    left: 68%;
    width: 32%;
    height: 60%;
    transform: scale(1.5);
}

.option__img-6 {
    background-image: url(../img/image-31.png);
    top: -8%;
    left: 65%;
    width: 35%;
    height: 50%;
}

.option__title {
    font-family: HelveticaNeueCyrLight, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.4px;
    color: #2f3441;
    margin-bottom: auto;
}

.option__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: HelveticaNeueCyr-Roman, sans-serif;
    font-size: 4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: 0.4px;
    color: #2f3441;
}

.option__chevron {
    width: 2rem;
    height: 4rem;
    
    @include respond(phone) {
        display: none;
    }
}

.option__text {
    margin-top: 1rem;
    height: 4rem;
    text-decoration: none;
}