.options__description {
    max-width: 50rem;
    margin-bottom: 6.4rem;
}

.options__container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    min-height: 78rem;
}

.option {
    display: flex;
    flex-direction: column;
    width: 34rem;
    height: 34rem;
    background-color: #c4c4c4;
    padding: 2.8rem 5.4rem 5rem 5.4rem;
}

.option__title {
    font-family: HelveticaNeueCyrLight, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.39;
    letter-spacing: 0.4px;
    color: #2f3441;
    margin-bottom: auto;
}

.option__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: HelveticaNeueCyr-Roman, sans-serif;
    font-size: 4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: 0.4px;
    color: #2f3441;
}

.option__chevron {
    width: 2rem;
    height: 4rem;
    cursor: pointer;
}

.option__text {
    margin-top: 1rem;
    height: 4rem;
}