.order {
    width: 50%;
    float: right;
    padding: 0 12rem 5rem 3rem;
}

.order__actions {
    display: flex;
    align-content: center;
    margin-top: 4rem;
    
    & > * {
        margin-right: .9rem;
    }
}

.order__header {
    margin-top: 8rem;
    margin-bottom: 3rem;
}