.order__container {
    display: flex;
    align-items: center;
    height: 60rem;
    padding: 6rem;
    
    @include respond(phone) {
        flex-direction: column;
        height: 90rem;
        padding: 0;
    }
}

.order__card-box {
    width: 40%;
    margin: auto 2rem auto auto;
    
    @include respond(big-desktop) {
        width: 30%;
    }
    
    @include respond(phone) {
        display: none;
    }
}

.order__card-box--responsive {
    display: none;
    
    @include respond(phone) {
        margin: 3rem auto;
        display: block;
    }
}

.order__card {
    width: 100%;
    height: 100%;
}

.order {
    height: 100%;
    width: 50%;
    padding: 0 12rem 5rem 3rem;
    
    @include respond(tab-port) {
        padding-right: 6rem;
    }
    
    @include respond(phone) {
        margin-top: 3rem;
        width: 100%;
        height: 100%;
        padding: 0;
    }
}

.order__actions {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    
    @include respond(tab-port) {
        width: 100%;
    }
    
    @include respond(phone) {
        flex-direction: column;
        margin: 0;
        padding: 1.6rem;
    }
    
    & > * {
        margin-right: 6rem;
    
        @include respond(tab-port) {
            margin-right: .5rem;
        }
        
        @include respond(phone) {
            margin-bottom: 2.4rem;
            margin-right: 0;
        }
    }
}

.order__header {
    margin-top: 8rem;
    margin-bottom: 3rem;
    white-space: nowrap;
    
    @include respond(phone) {
        margin: 1rem 1.6rem;
        text-align: start;
    }
}

.order__text {
    
    @include respond(big-desktop) {
        width: 70%;
    }
    

    
    @include respond(phone) {
        padding: 1.6rem;
        text-align: left;
    }
}