.order__container {
    display: flex;
    align-items: center;
    height: 50rem;
}

.order__card-box {
    height: 80%;
    margin: auto 2rem auto auto;
}

.order__card {
    width: 100%;
    height: 100%;
}

.order {
    height: 100%;
    width: 50%;
    padding: 0 12rem 5rem 3rem;
}

.order__actions {
    display: flex;
    align-content: center;
    margin-top: 4rem;
    
    & > * {
        margin-right: .9rem;
    }
}

.order__header {
    margin-top: 8rem;
    margin-bottom: 3rem;
    white-space: nowrap;
}