.order {
    width: 50%;
    float: right;
    padding: 25rem 25vw 35rem 0;
}

.order__actions {
    display: flex;
    align-content: center;
    margin-top: 4rem;
    
    & > * {
        margin-right: .9rem;
    }
}

.order__header {
    margin-top: 9.5rem;
    margin-bottom: 3rem;
}