.privilege {
    height: 100%;
    display: flex;
    align-items: center;
    width: 97rem;
    margin: 0 auto;
    
    @include respond(tab-small) {
        flex-direction: column;
        width: 75%;
    }
    
    @include respond(phone) {
        flex-direction: column;
        width: 100%;
    }
}

.privilege__img-box {
    min-width: 37.4rem;
    min-height: 23.7rem;
    margin-right: 9rem;
    
    @include respond(tab-port) {
        margin: 0 2rem;
    }
    
    @include respond(tab-small) {
        min-width: 34.3rem;
        min-height: 21.6rem;
        margin: 4rem 0;
    }
    
    @include respond(phone) {
        min-width: 34.3rem;
        min-height: 21.6rem;
        margin: 5rem 1.6rem 3.2rem 3rem;
    }
}

.privilege__img {
    width: 100%;
    height: 100%;
}

.privilege__info {
    height: 23.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    @include respond(tab-small) {
        padding: 0 2.8rem;
        margin-bottom: 8rem;
        height: 25rem;
    }
    
    @include respond(phone) {
        padding: 0 2.8rem;
        margin-bottom: 11rem;
        height: 17.5rem;
    }
}

.privilege__info .paragraph {
    
    @include respond(tab-small) {
        font-size: 2rem;
    }
    
    @include respond(phone) {
        font-size: 1.8rem;
    }
}


.privilege__link {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.privilege__link-arrow {
    margin-left: 1rem;
}