.request__steps {
    display: flex;
    width: 8%;
    justify-content: space-between;
    margin: 4rem 0;
}

.form {
    width: 64.8rem;
}

.form__inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form__text {
    height: 6.4rem;
    border-radius: 4px;
    border: solid 1px #dce0eb;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 2.4rem;
}

.form__text--full {
    width: 100%;
}

.form__text--half {
    width: 48.5%;
}

.form__currencies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.form__checkbox-item {
    display: flex;
    align-items: center;
}

.form__checkbox-label {
    margin-left: 1rem;
    font-size: 1.4rem;
}

.form__submit-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}