.request__steps {
    display: flex;
    width: 23.5rem;
    //justify-content: flex-start;
    align-items: center;
    margin: 4rem 0;
}

.form {
    width: 64.8rem;
}

.form__inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form__text {
    height: 6.4rem;
    border-radius: 4px;
    border: solid 1px #dce0eb;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 2.4rem;
}

.form__text::placeholder {
    font-size: 1.6rem;
    color: #acb6c3;
}

.form__text--full {
    width: 100%;
}

.form__text--half {
    width: 48.5%;
}

.form__currencies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.form__checkbox-item {
    display: flex;
    align-items: center;
    position: relative;
}

.form__checkbox-label {
    margin-left: 1rem;
    font-size: 1.4rem;
    position: relative;
    display: flex;
    align-items: center;
}

.form__submit-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
}

.form__link {
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.4px;
    color: #00aaff;
    margin-left: 1rem;
}

.request__step {
    margin-right: 5rem;
}

.request__line {
    border-top: 1px solid #ffffff;
    width: 8rem;
}

.request__radio-btn {
    min-width: 4.8rem;
    min-height: 4.8rem;
    background-color: #ffffff;
    border: 3px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 2.2rem;
    font-family: HelveticaNeueCyr, sans-serif;
    cursor: pointer;
}

.request__radio-btn--active {
    border: solid 3px #00aaff;
}