.subscribe__logo-box {
    width: 10rem;
    height: 10rem;
    margin-right: 5.5rem;
}

.subscribe__text {
    width: 40%;
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 18px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #2f3441;
}

.subscribe__form {
    height: 6.4rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.subscribe__input {
    width: 30rem;
    padding-left: 1.2rem;
    margin: 0 3rem;
    border-radius: 4px;
    border: solid 1px #dce0eb;
    background-color: #ffffff;
}