.subscribe {
    padding: 10% 5% 10% 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 50%;
}

.subscribe__header {
    margin-bottom: 1.5rem;
}

.subscribe__form {
    display: flex;
    margin-top: 3.6rem;
}

.subscribe__input {
    width: 40rem;
    height: 6rem;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    border: none;
    border-left: 4px solid #1e4bd2;
    padding: 2rem;
}

.subscribe__button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    transform: translateX(-4rem);
    cursor: pointer;
}

.subscribe__image-box {
    width: 50%;
    background: linear-gradient(to top, #414141, #2f2f2f);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.subscribe__image {
    transform: translateX(-5%);
}