.subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    height: 40rem;
    width: 50%;
    
    @include respond(tab-port) {
        padding-left: 3rem;
    }
    
    @include respond(tab-small) {
        padding: 1.6rem;
    }
    
    @include respond(phone) {
        padding: 3.2rem 1.6rem 5.4rem 1.6rem;
        height: 44.2rem;
        width: 100%;
        order: 2;
    }
}

.subscribe__header {
    margin-bottom: 1.5rem;
}

.subscribe__text {
    width: 41.4rem;
    margin-left: auto;
    margin-right: 12rem;
    
    @include respond(tab-small) {
        width: 100%;
    }
    
    @include respond(phone) {
        width: 100%;
    }
}

.subscribe__text-advice {
    
    @include respond(phone) {
        font-size: 1.8rem;
    }
}

.subscribe__form-container {
    width: 41.4rem;
    margin-left: auto;
    margin-right: 12rem;
    
    @include respond(phone) {
        width: 100%;
    }
}

.subscribe__form {
    display: flex;
    margin-top: 1.6rem;
}

.subscribe__input {
    width: 40rem;
    height: 6rem;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    border: none;
    border-left: 4px solid #1e4bd2;
    padding: 2rem;
    
    @include respond(tab-small) {
        width: 80%;
    }
}

.subscribe__input::placeholder {
    font-size: 1.6rem;
    color: #acb6c3;
}

.subscribe__button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    transform: translateX(-4rem);
    cursor: pointer;
}

.subscribe__image-box {
    width: 50%;
    background: linear-gradient(to top, #414141, #2f2f2f);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    @include respond(phone) {
        display: block;
        width: 100%;
        height: 34.5rem;
        order: 1;
    }
}

.subscribe__image {
    width: 70%;
    transform: translateX(-5%);
    
    @include respond(phone) {
        width: 100%;
        transform: scale(1.4) translateX(-12%) translateY(5%);
    }
}