.support {
    display: flex;
}

.support__help {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 61.6rem;
    height: 24.4rem;
    background-color: #303030;
    padding: 3.6rem 5.4rem;
    cursor: pointer;
    text-decoration: none;
    margin-right: .8rem;
}

.support__chevron {
    margin-left: auto;
    width: 1rem;
    height: 1.8rem;
    cursor: pointer;
}

.support__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 65rem;
}

.support__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31rem;
    height: 11.8rem;
    background-color: #303030;
    padding: 1.3rem 2.6rem 3rem 1.7rem;
    cursor: pointer;
    text-decoration: none;
    margin-right: .8rem;
    margin-bottom: .8rem;
}