.support__help {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 54.8rem;
    height: 24.4rem;
    background-color: #f3f7fa;
    padding: 3.6rem 5.4rem;
}

.support__chevron {
    margin-left: auto;
    width: 1rem;
    height: 1.8rem;
    cursor: pointer;
}

.support__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 56.4rem;
    height: 25.3rem;
}

.support__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27.8rem;
    height: 11.8rem;
    background-color: #f3f7fa;
    padding: 1.3rem 2.6rem 3rem 1.7rem;
}