// MEDIA QUERY MANAGER
/*
0 - 600px;    phone
600px - 900px;    tabled
900px - 1200px;   tablet landscape
1200px - 1800px;  desktop
1800px +;   big desktop

$breakpoint values:
- phone
- tab-port
- tab-land
- big-desktop
*/
//1em = 16px;
@mixin respond($breakpoint) {
    
    // 'only screen' so query will not work in print mode
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { // 600px / 16px
            @content
        }
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { // 900px / 16px
            @content
        }
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { // 1200px / 16px
            @content
        }
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { // 1800px / 16px
            @content
        }
    }
}