header {
    //font-family: HelveticaNeueCyr, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(255, 255, 255);
}

body {
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    font-family: HelveticaNeueCyr-Medium, sans-serif;
    font-size: 5.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 0.4px;
    color: #ffffff;
    
    @include respond(phone) {
        font-size: 2.8rem;
    }
}

.heading-secondary {
    font-family: HelveticaNeueCyr-Medium, sans-serif;
    font-size: 4.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.4px;
    
    @include respond(phone) {
        font-size: 2.4rem;
    }
}

.heading-third {
    font-family: HelveticaNeueCyr-Medium, sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    
    @include respond(phone) {
        font-size: 2rem;
        line-height: 1.8;
    }
}

.heading-fourth {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: 0.4px;
}

.menu-item {
    font-family: HelveticaNeueCyr-Medium, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

.paragraph {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    
    @include respond(phone) {
        font-size: 1.6rem;
    }
}

.paragraph-secondary {
    font-family: HelveticaNeueCyrLight, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    
    @include respond(phone) {
        font-size: 1.6rem;
    }
}

.small-link {
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

.paragraph-header {
    font-family: HelveticaNeueCyr-Roman, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

.notes {
    font-family: HelveticaNeueCyrLight, sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
}

.label-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #acb6c3;
}

.white-text {
    color: #ffffff;
}

.dark-text {
    color: #2f3441;
}

.grey-text {
    color: #616161;
}

.blue-text {
    color: #1e4bd2;
}

.grey-text-2 {
    color: #6b7683;
}

