header {
    font-family: HelveticaRegular, Arial, Garuda, sans-serif;;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(255, 255, 255);
}

body {
    font-family: HelveticaRegular, Arial, Garuda, sans-serif;;
    font-weight: 400;
    line-height: 1.7;
    //padding: 3rem;
}