header {
    //font-family: HelveticaNeueCyr, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(255, 255, 255);
}

body {
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    font-family: HelveticaNeueCyr-Medium, sans-serif;
    font-size: 5.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 0.4px;
    color: #ffffff;
}

.heading-secondary {
    font-family: HelveticaNeueCyr-Medium, sans-serif;
    font-size: 4.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.4px;
}

//.heading-secondary {
//    font-family: HelveticaNeueCyrLight, sans-serif;
//    font-size: 3.2rem;
//    font-weight: 300;
//    font-stretch: normal;
//    font-style: normal;
//    line-height: 1.5;
//    letter-spacing: 0.4px;
//    color: #2f3441;
//    margin-bottom: 1.8rem;
//}

//.heading-third {
//    font-family: HelveticaNeueCyrLight, sans-serif;
//    font-size: 2.2rem;
//    font-weight: 300;
//    font-stretch: normal;
//    font-style: normal;
//    line-height: 1.45;
//    letter-spacing: 0.4px;
//    color: #2f3441;
//}

.heading-third {
    font-family: HelveticaNeueCyr-Medium, sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
}


.paragraph {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

.paragraph-header {
    font-family: HelveticaNeueCyr-Roman, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

.notes {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
}

.white-text {
    color: #ffffff;
}

.dark-text {
    color: #2f3441;
}

.grey-text {
    color: #616161;
}

.blue-text {
    color: #1e4bd2;
}