header {
    //font-family: HelveticaRegular, Arial, Garuda, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(255, 255, 255);
}

body {
    //font-family: HelveticaNeueCyr, Arial, Garuda, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    //padding: 3rem;
}

.heading-secondary {
    font-family: HelveticaNeueCyrLight, sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #2f3441;
    margin-bottom: 1.8rem;
}

.heading-third {
    font-family: HelveticaNeueCyrLight, sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: 0.4px;
    color: #2f3441;
}

.paragraph {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 18px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #2f3441;
}