.section-order {
    width: 100%;
    height: 100rem;
    background: url(../img/card-background.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.section-advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section-opportunities {
    display: flex;
    width: 100%;
    height: 91rem;
}

.section-privilege {
    width: 100%;
    height: 65.6rem;
    background: url(../img/privilage.png) no-repeat center center;
    background-size: cover;
}

.section-options {
    width: 100%;
    background: linear-gradient(to top, #414141, #2f2f2f);
    padding: 12.5rem 0 15rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 112rem;
    margin: 1rem auto;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 8rem 0;
}
.cashback {
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.capabilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0;
}


.full-width {
    width: 100%;
    height: 21.2rem;
    background-color: #f3f7fa;
}

.subscribe {
    display: flex;
    align-items: center;
    height: 21.2rem;
    justify-content: space-between;
}

.features-section {
    width: 100%;
    display: flex;
    height: 74.5vh;
}

.subscribe-section {
    width: 100%;
    display: flex;
    height: 74.5vh;
}

.support-section {
    width: 100%;
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #e7e7e7, #e7e7e7), linear-gradient(to top, #414141, #2f2f2f)
}

.actions {
    display: flex;
    justify-content: space-between;
    margin: 8rem 0;
}

.request-section {
    width: 100%;
    background-image: linear-gradient(to top, #414141, #2f2f2f);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
}