.section-order {
    width: 100%;
    height: 70rem;
    background: url(../img/header-background.jpg) no-repeat center center, linear-gradient(to top right, #494949, #282828);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    @include respond(phone) {
        height: 91.8rem;
        background: linear-gradient(to top, #414141, #2f2f2f);
    }
}

.section-advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section-opportunities {
    display: flex;
    width: 100%;
    height: 91rem;
    
    @include respond(phone) {
        height: 80rem;
    }
}

.section-privilege {
    width: 100%;
    height: 65.6rem;
    background: url(../img/privilage.png) no-repeat center center;
    background-size: cover;
    
    @include respond(phone) {
        height: 60rem;
        background: url(../img/privilage-mobile.png) no-repeat center center;
    }
}

.section-options {
    width: 100%;
    background: linear-gradient(to top, #414141, #2f2f2f);
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include respond(phone) {
        padding: 6.4rem 1.6rem;
    }
}

.container {
    max-width: 124rem;
    margin: 1rem auto;
    padding: 10rem 0;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 8rem 0;
}
.cashback {
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.capabilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0;
}


.full-width {
    width: 100%;
    height: 21.2rem;
    background-color: #f3f7fa;
}

.features-section {
    width: 100%;
    display: flex;
    height: 80rem;
}

.subscribe-section {
    width: 100%;
    display: flex;
    height: 70rem;
}

.support-section {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #e7e7e7, #e7e7e7), linear-gradient(to top, #414141, #2f2f2f)
}

.actions-section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 8rem 0;
}

.request-section {
    width: 100%;
    background-image: linear-gradient(to top, #414141, #2f2f2f);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
}