.section-order {
    width: 100%;
    height: 100rem;
    background: url(../img/card-background.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.section-advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container {
    max-width: 112rem;
    margin: 1rem auto;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 8rem 0;
}
.cashback {
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.capabilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width {
    width: 100%;
    height: 21.2rem;
    background-color: #f3f7fa;
}

.subscribe {
    display: flex;
    align-items: center;
    height: 21.2rem;
    justify-content: space-between;
}

.features {
    display: flex;
    margin: 8rem 0;
}

.support {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 8rem 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin: 8rem 0;
}

.request {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.6rem 0;
}