.container {
    max-width: 112rem;
    margin: 1rem auto;
}

.section-description {
    display: flex;
    flex-direction: column;
    margin: 9rem 0;
}

.section-capabilities {
    display: flex;
    flex-direction: column;
    margin: 9rem 0;
}

.section-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}