.section-order {
    width: 100%;
    height: 70rem;
    background: url(../img/header-background.jpg) no-repeat center center, linear-gradient(to top right, #494949, #282828);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    @include respond(phone) {
        height: 91.8rem;
        background: linear-gradient(to top, #414141, #2f2f2f);
    }
}

.section-advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section-opportunities {
    display: flex;
    width: 100%;
    height: 91rem;
    
    @include respond(phone) {
        width: 100%;
        height: 80rem;
    }
}

.section-privilege {
    width: 100%;
    height: 65.6rem;
    background: url(../img/privilage.png) no-repeat center center;
    background-size: cover;
    
    @include respond(phone) {
        width: 100%;
        height: 60rem;
        background: url(../img/privilage-mobile.png) no-repeat center center;
        background-size: cover;
    }
}

.section-options {
    width: 100%;
    background: linear-gradient(to top, #414141, #2f2f2f);
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include respond(phone) {
        padding: 6.4rem 1.6rem;
    }
}

.container {
    max-width: 124rem;
    margin: 1rem auto;
    padding: 10rem 0;
    
    @include respond(phone) {
        margin: 0;
        width: 100%;
        padding: 7rem 1.6rem 0 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.features-section {
    width: 100%;
    display: flex;
    height: 80rem;
    
    @include respond(phone) {
        flex-direction: column;
    }
}

.subscribe-section {
    width: 100%;
    display: flex;
    height: 70rem;
    
    @include respond(phone) {
        height: 78.7rem;
        flex-direction: column;
    }
}

.support-section {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #e7e7e7, #e7e7e7), linear-gradient(to top, #414141, #2f2f2f);
    
    @include respond(phone) {
        height: 71.6rem;
    }
}

.actions-section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 8rem 0;
    
    @include respond(phone) {
        flex-direction: column;
    }
}

.request-section {
    width: 100%;
    background-image: linear-gradient(to top, #414141, #2f2f2f);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
    
    @include respond(phone) {
        height: 140rem;
        padding: 6.4rem 1.6rem;
    }
}