.section-answers {
    background-image: linear-gradient(to right, #414141, #2f2f2f);
    width: 100%;
}

.answers {
    width: 125rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers__header {
    margin-bottom: 5rem;
    margin-top: 7rem;
}

.answer {
    background-color: #e7e7e7;
    padding: 4rem;
    //max-width: 125rem;
    width: 100%;
    margin-bottom: 2.4rem;
}

.answer__body {
    margin-top: 1.6rem;
}