.section-answers {
    background-image: linear-gradient(to right, #414141, #2f2f2f);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers__header {
    margin-bottom: 5rem;
    margin-top: 7rem;
}

.answer {
    background-color: #e7e7e7;
    padding: 4rem;
    max-width: 125rem;
    margin-bottom: 2.4rem;
}

.answer__header {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.answer__body {
    font-size: 18px;
    font-weight: 100;
}